<footer layout="row">
  <span flex class="footer-left">
    <a href="/about">About</a>
    <a href="/tos">Terms</a>
    <a href="/privacy-policy">Privacy</a>
    <a href="/donate">Donate</a>
  </span>
  <span flex></span>
  <span flex class="footer-right">
    <a href="https://github.com/porygonco/porybox">GitHub</a> |
    <a href="https://reddit.com/r/porybox">/r/porybox</a>
  </span>
</footer>
