<!DOCTYPE html>
<html>
  <head>
    <title>Porybox</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="bundle.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  </head>

  <body layout="column" ng-controller="MainCtrl as main" ng-cloak
    ng-init="main.init({boxes: <%=(typeof boxes !== 'undefined' ? JSON.stringify(boxes) : '[]')%>})">
    <%- include header.ejs %>
    <main flex layout="column">
      <%- body %>
    </main>
    <script src="bundle.js"></script>
  </body>
</html>
