<div ng-show="box.data.id">
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <h1><span>{{box.data.name}}</span></h1>
      <span flex></span>
      <md-button ng-if="!box.draggingEnabled" class="md-icon-button" aria-label="Move" ng-show="box.data.owner === main.user.name || main.user.isAdmin" ng-click="box.draggingEnabled = true">
        <md-tooltip md-direction="left">Enable dragging to move Pokémon in this box</md-tooltip>
        <i class="material-icons">open_with</i>
      </md-button>
      <md-button ng-if="box.draggingEnabled" class="md-icon-button" aria-label="Done" ng-show="box.data.owner === main.user.name || main.user.isAdmin" ng-click="box.draggingEnabled = false">
        <md-tooltip md-direction="left">Done moving Pokémon</md-tooltip>
        <i class="material-icons">done</i>
      </md-button>
      <md-menu md-position-mode="target-right target" md-offset="0 50">
        <md-button class="md-icon-button" aria-label="Box settings" ng-show="box.data.owner === main.user.name || main.user.isAdmin" ng-click="$mdOpenMenu($event)">
          <md-tooltip md-direction="left">{{box.data.name}} settings</md-tooltip>
          <i class="material-icons">settings</i>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="box.edit()" >
                <div layout="row">
                  <p flex="">Edit</p>
                </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-if="!box.isDeleted">
            <md-button ng-click="box.delete()" ng-disabled="main.boxes.length === 1" ng-attr-title="{{main.boxes.length === 1 ? 'You can\'t delete your only box.' : ''}}">
                <div layout="row">
                  <p flex>Delete Box</p>
                </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>

    </div>
  </md-toolbar>

  <md-card ng-if="box.data.description">
    <md-card-content>{{box.data.description}}</md-card-content>
  </md-card>

  <div
    layout="row"
    layout-xs="column"
    layout-wrap
    ng-init="box.fetch()"
    ng-show="box.hasFullData"
    sv-disabled="!box.draggingEnabled"
    sv-root
    sv-part="box.data.contents"
    sv-grid="true"
    sv-on-sort="box.movePkmn($item, $indexTo)"
  >
    <div flex-xs ng-repeat="pokemon in box.data.contents track by pokemon.id" sv-element>
      <pokemon-card data="pokemon" ng-class="{'draggable': box.draggingEnabled}"></pokemon-card>
    </div>
  </div>

  <div class="pagination-container">
    <md-button class="md-icon-button" ng-click="box.prevPage()" ng-disabled="box.isLoading() || !box.hasPrevPage()">
      <i class="material-icons">navigate_before</i>
      <md-tooltip md-direction="left">Previous page</md-tooltip>
    </md-button>
    <span class="md-subhead">Page {{box.data.pageNum}} of {{box.data.totalPageCount}}</span>
    <md-button class="md-icon-button" ng-click="box.nextPage()" ng-disabled="box.isLoading() || !box.hasNextPage()">
      <i class="material-icons">navigate_next</i>
      <md-tooltip md-direction="right">Next page</md-tooltip>
    </md-button>
  </div>
</div>
<div ng-if="box.errorStatusCode" ng-include="'/errors/' + box.errorStatusCode + '.html'"></div>
