<md-dialog aria-label="Add new box" ng-cloak>
  <form name="addBox">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Add new box</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dialog.cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
          <md-input-container class="md-block">
            <label>Name *</label>
            <input required ng-model="dialog.name" type="text" name="test" class="dialog-close">
            <div ng-messages="addBox.test.$error" role="alert">
              <div ng-message="required">Name is required.</div>
            </div>
          </md-input-container>

          <md-input-container class="md-block">
              <label>Description</label>
              <input ng-model="dialog.description">
          </md-input-container>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="dialog.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="dialog.answer()" ng-disabled="!dialog.canAdd()" type="submit">
        Add
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
