<md-dialog aria-label="Add new box" ng-cloak>
  <form name="addPK6">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Upload Pokémon</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="pkmDialog.cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
        <div layout="row">
          <span flex></span>
          <div ngf-drop ngf-select ng-model="pkmDialog.draggedFiles" class="drop-box"
              ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-allow-dir="true"
              ngf-multiple="true" ngf-allow-dir="true" ngf-capture="'other'"
              ngf-change="pkmDialog.addFiles(pkmDialog.draggedFiles)"
              ngf-validate-fn="pkmDialog.fileIsValid($file)"
              ngf-pattern="'.pk6,.pkx,main'">Drop file/directory here</div>
          <span flex></span>
        </div>

        <div layout="row">
          <span flex></span>
          <div flex="50">
            Or select a .pk6/decrypted save file:
            <input type="file" ngf-select ng-model="pkmDialog.manualFiles" name="file"
                ngf-max-size="2MB" ng-change="pkmDialog.addFiles(pkmDialog.manualFiles)" multiple
                ngf-validate-fn="pkmDialog.fileIsValid($file)">
          </div>
          <span flex></span>
        </div>
        <span flex></span>
        <md-divider></md-divider>
        <div layout="row" ng-repeat="line in pkmDialog.lines">
          <md-input-container class="md-block">
            <input type="text" ng-model="line.filename" aria-label="File name" disabled> </input>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Visibility</label>
            <md-select ng-model="line.visibility" name="visibility">
              <md-option ng-value="visibility" ng-repeat="visibility in pkmDialog.visibilities">{{ visibility }}</md-option>
            </md-select>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Box</label>
            <md-select ng-model="line.box" name="box">
              <md-option ng-value="box.id" ng-repeat="box in pkmDialog.boxes">{{ box.name }}</md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <i class="material-icons" style="vertical-align: middle;">help_outline</i> <a href="/extracting-pk6-files" target="_blank" rel="noreferrer">How to obtain Pokémon files</a>
      <span flex></span>
      <md-button ng-click="pkmDialog.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="pkmDialog.answer()" ng-disabled="!pkmDialog.canAdd() || !pkmDialog.lines.length" type="submit">
        Upload
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
