# Private config
config/local.js

# Sails stuff
.tmp
dump.rdb

# Node
lib-cov
*.seed
*.log
*.out
*.pid
npm-debug.log
node_modules

# Misc
*~
*#
.DS_STORE
.netbeans
nbproject
.idea
.node_history

# Project specific stuff

# Built client file
client/bundle.js
client/bundle.min.js
client/bundle.css
client/bundle.min.css
client/bundle.js.map
client/img/svg
