
/*******************************
 * Import Material design lite
 *******************************/
@import (inline) '../../node_modules/angular-material/angular-material.css';

/******************************
 *
 ******************************/

.add-button {
  bottom: 40px;
  right: 20px;
  position: absolute;
}

.hide-scroll {
  overflow: hidden;
}

i.material-icons.visibility {
  font-size: 14px;
  margin-right: -3px;
}

footer {
  height: 20px;
  font-size: small;
}

footer a {
  text-decoration: none;
  color: #000;
}

/*******************************
 * Overrides
 *******************************/

md-card md-card-title {
  padding: 10px 16px;
}

md-card md-card-header {
  background-color: rgba(128, 216, 255, .25);
  padding: 5px 10px 0 0;
  white-space: nowrap;
}

md-card md-card-content {
  padding: 14px;
  font-size: 14px;
  line-height: 21px;
}

.md-headline {
  max-height: 3em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 16px;
  max-width: 100px;
  margin: 0 0 5px 10px;
}

md-card-title-text {
  overflow-x: hidden;
}

md-icon svg {
  fill: inherit;
}

/*******************************
 * Header
 *******************************/

.md-toolbar-tools img {
  height: 74px;
  margin: 0 7px 0px -5px;
}

/*******************************
 * Box cards
 *******************************/

.box-header {
  background-color: rgba(45, 45, 45, .2);
  padding: 7px 10px;
}

@media (min-width: 600px) {
  .box-card {
    width: 350px;
    height: 150px;
  }
}

.box-card {
  max-height: 150px;
  overflow: auto;
  margin-right: -100px;
  padding-right: 100px;
}

 /*******************************
  * Pokemon cards
  *******************************/

@media (min-width: 600px) {
  .pokemon-card-mini {
    width: 166px;
    height: 214px;
  }
}

@media (max-width: 599px) {
  .pokemon-card-mini {
    display: block;
    width: auto;
  }
}

.icon-container {
  position: relative;
}

.icon-container > img {
  position: absolute;
  width: 40px;
}

.pokemon-egg {
  margin-left: 5px;
}

.card-link {
  text-decoration: none;
  color: black;
  display: block;
}

.increased-stat {
  color: #D0021B;
}

.decreased-stat {
  color: #4A90E2;
}

.pokemon-kb, .pokemon-shiny {
  margin-left: 5px;
  font-size: 10px;
}

.pokemon-kb {
  width: 9px;
}

.pokemon-kb path {
  fill: #043575;
}

.pokemon-shiny {
  width: 10px;
}

.pokemon-shiny path {
  fill: #f9262f;
}

.pokeball, .held-item {
  width: 32px;
  height: 32px;
}

.pokeball {
  margin-left: -5px;
}

.pokemon-ha {
  font-style: italic;
}

.language-tag {
  color: #fff;
  background-color: #505050;
  border: 3px solid #505050;
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  margin-right: -2px;
}


 /*******************************
  * Error pages
  *******************************/
.errorimg {
	margin: 0 auto;
	display: block;
	padding-top: 50px;
}

.errorname, .errortext {
	text-align: center;
	font-family: sans-serif;
}

/*******************************
 * Csrf token (hidden div)
 *******************************/
#csrf-token {
  display: none;
}

/*******************************
 * Upload button
 *******************************/

.layout-row .md-button {
	color: rgba(255,255,255,0.87);
	background-color: rgb(3,169,244)!important;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	height: 20px;
}
