
/*******************************
 * Import Material design lite
 *******************************/
@import (inline) '../../node_modules/angular-material/angular-material.css';



/******************************
 *
 ******************************/

.add-button {
  bottom: 40px;
  right: 20px;
  position: absolute;
}

/*******************************
 * Overrides
 *******************************/

.md-headline {
  max-height: 3em;
  overflow-x: hidden;
  text-overflow: ellipsis;
  overflow-y: hidden
}

md-card-title-text {
  overflow-x: hidden;
}

.flex-20 {
  display: flex;
  align-items: stretch;
}

.flex-20 box-card, .flex-20 pokemon-card {
  display: flex;
  width: 100%;
}

.flex-20 box-card md-card, .flex-20 pokemon-card md-card {
  width: 100%;
}

.flex-20 span.md-subhead {
  max-height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
}

 /*******************************
  * Pokemon cards
  *******************************/

.pokemonShiny, .pokemonKB {
  padding-left: 10px;
}

 /*******************************
  * Error pages
  *******************************/
.errorimg {
	margin: 0 auto;
	display: block;
	padding-top: 50px;
}

.errorname, .errortext {
	text-align: center;
	font-family: sans-serif;
}
