.spr-item-1, .spr-ball-1 { background-position: -32px 0; }
.spr-item-2, .spr-ball-2 { background-position: -64px 0; }
.spr-item-3, .spr-ball-3 { background-position: -96px 0; }
.spr-item-4, .spr-ball-4 { background-position: -128px 0; }
.spr-item-5, .spr-ball-5 { background-position: -160px 0; }
.spr-item-6, .spr-ball-6 { background-position: -192px 0; }
.spr-item-7, .spr-ball-7 { background-position: -224px 0; }
.spr-item-8, .spr-ball-8 { background-position: -256px 0; }
.spr-item-9, .spr-ball-9 { background-position: -288px 0; }
.spr-item-10, .spr-ball-10 { background-position: -320px 0; }
.spr-item-11, .spr-ball-11 { background-position: -352px 0; }
.spr-item-12, .spr-ball-12 { background-position: -384px 0; }
.spr-item-13, .spr-ball-13 { background-position: -416px 0; }
.spr-item-14, .spr-ball-14 { background-position: -448px 0; }
.spr-item-15, .spr-ball-15 { background-position: -480px 0; }
.spr-item-16, .spr-ball-16 { background-position: -512px 0; }
.spr-item-17 { background-position: -544px 0; }
.spr-item-18 { background-position: -576px 0; }
.spr-item-19 { background-position: -608px 0; }
.spr-item-20 { background-position: -640px 0; }
.spr-item-21 { background-position: -672px 0; }
.spr-item-22 { background-position: -704px 0; }
.spr-item-23 { background-position: -736px 0; }
.spr-item-24 { background-position: -768px 0; }
.spr-item-25 { background-position: -800px 0; }
.spr-item-26 { background-position: -832px 0; }
.spr-item-27 { background-position: -864px 0; }
.spr-item-28 { background-position: 0 -32px; }
.spr-item-29 { background-position: -32px -32px; }
.spr-item-30 { background-position: -64px -32px; }
.spr-item-31 { background-position: -96px -32px; }
.spr-item-32 { background-position: -128px -32px; }
.spr-item-33 { background-position: -160px -32px; }
.spr-item-34 { background-position: -192px -32px; }
.spr-item-35 { background-position: -224px -32px; }
.spr-item-36 { background-position: -256px -32px; }
.spr-item-37 { background-position: -288px -32px; }
.spr-item-38 { background-position: -320px -32px; }
.spr-item-39 { background-position: -352px -32px; }
.spr-item-40 { background-position: -384px -32px; }
.spr-item-41 { background-position: -416px -32px; }
.spr-item-42 { background-position: -448px -32px; }
.spr-item-43 { background-position: -480px -32px; }
.spr-item-44 { background-position: -512px -32px; }
.spr-item-45 { background-position: -544px -32px; }
.spr-item-46 { background-position: -576px -32px; }
.spr-item-47 { background-position: -608px -32px; }
.spr-item-48 { background-position: -640px -32px; }
.spr-item-49 { background-position: -672px -32px; }
.spr-item-50 { background-position: -704px -32px; }
.spr-item-51 { background-position: -736px -32px; }
.spr-item-52 { background-position: -768px -32px; }
.spr-item-53 { background-position: -800px -32px; }
.spr-item-54 { background-position: -832px -32px; }
.spr-item-55 { background-position: -864px -32px; }
.spr-item-56 { background-position: 0 -64px; }
.spr-item-57 { background-position: -32px -64px; }
.spr-item-58 { background-position: -64px -64px; }
.spr-item-59 { background-position: -96px -64px; }
.spr-item-60 { background-position: -128px -64px; }
.spr-item-61 { background-position: -160px -64px; }
.spr-item-62 { background-position: -192px -64px; }
.spr-item-63 { background-position: -224px -64px; }
.spr-item-64 { background-position: -256px -64px; }
.spr-item-65 { background-position: -288px -64px; }
.spr-item-66 { background-position: -320px -64px; }
.spr-item-67 { background-position: -352px -64px; }
.spr-item-68 { background-position: -384px -64px; }
.spr-item-69 { background-position: -416px -64px; }
.spr-item-70 { background-position: -448px -64px; }
.spr-item-71 { background-position: -480px -64px; }
.spr-item-72 { background-position: -512px -64px; }
.spr-item-73 { background-position: -544px -64px; }
.spr-item-74 { background-position: -576px -64px; }
.spr-item-75 { background-position: -608px -64px; }
.spr-item-76 { background-position: -640px -64px; }
.spr-item-77 { background-position: -672px -64px; }
.spr-item-78 { background-position: -704px -64px; }
.spr-item-79 { background-position: -736px -64px; }
.spr-item-80 { background-position: -768px -64px; }
.spr-item-81 { background-position: -800px -64px; }
.spr-item-82 { background-position: -832px -64px; }
.spr-item-83 { background-position: -864px -64px; }
.spr-item-84 { background-position: 0 -96px; }
.spr-item-85 { background-position: -32px -96px; }
.spr-item-86 { background-position: -64px -96px; }
.spr-item-87 { background-position: -96px -96px; }
.spr-item-88 { background-position: -128px -96px; }
.spr-item-89 { background-position: -160px -96px; }
.spr-item-90 { background-position: -192px -96px; }
.spr-item-91 { background-position: -224px -96px; }
.spr-item-92 { background-position: -256px -96px; }
.spr-item-93 { background-position: -288px -96px; }
.spr-item-94 { background-position: -320px -96px; }
.spr-item-95 { background-position: -352px -96px; }
.spr-item-96 { background-position: -384px -96px; }
.spr-item-97 { background-position: -416px -96px; }
.spr-item-98 { background-position: -448px -96px; }
.spr-item-99 { background-position: -480px -96px; }
.spr-item-100 { background-position: -512px -96px; }
.spr-item-101 { background-position: -544px -96px; }
.spr-item-102 { background-position: -576px -96px; }
.spr-item-103 { background-position: -608px -96px; }
.spr-item-104 { background-position: -640px -96px; }
.spr-item-105 { background-position: -672px -96px; }
.spr-item-106 { background-position: -704px -96px; }
.spr-item-107 { background-position: -736px -96px; }
.spr-item-108 { background-position: -768px -96px; }
.spr-item-109 { background-position: -800px -96px; }
.spr-item-110 { background-position: -832px -96px; }
.spr-item-111 { background-position: -864px -96px; }
.spr-item-112 { background-position: 0 -128px; }
.spr-item-116 { background-position: -32px -128px; }
.spr-item-117 { background-position: -64px -128px; }
.spr-item-118 { background-position: -96px -128px; }
.spr-item-119 { background-position: -128px -128px; }
.spr-item-134 { background-position: -160px -128px; }
.spr-item-135 { background-position: -192px -128px; }
.spr-item-136 { background-position: -224px -128px; }
.spr-item-137 { background-position: -256px -128px; }
.spr-item-138 { background-position: -288px -128px; }
.spr-item-139 { background-position: -320px -128px; }
.spr-item-140 { background-position: -352px -128px; }
.spr-item-141 { background-position: -384px -128px; }
.spr-item-142 { background-position: -416px -128px; }
.spr-item-143 { background-position: -448px -128px; }
.spr-item-144 { background-position: -480px -128px; }
.spr-item-145 { background-position: -512px -128px; }
.spr-item-146 { background-position: -544px -128px; }
.spr-item-147 { background-position: -576px -128px; }
.spr-item-148 { background-position: -608px -128px; }
.spr-item-149 { background-position: -640px -128px; }
.spr-item-150 { background-position: -672px -128px; }
.spr-item-151 { background-position: -704px -128px; }
.spr-item-152 { background-position: -736px -128px; }
.spr-item-153 { background-position: -768px -128px; }
.spr-item-154 { background-position: -800px -128px; }
.spr-item-155 { background-position: -832px -128px; }
.spr-item-156 { background-position: -864px -128px; }
.spr-item-157 { background-position: 0 -160px; }
.spr-item-158 { background-position: -32px -160px; }
.spr-item-159 { background-position: -64px -160px; }
.spr-item-160 { background-position: -96px -160px; }
.spr-item-161 { background-position: -128px -160px; }
.spr-item-162 { background-position: -160px -160px; }
.spr-item-163 { background-position: -192px -160px; }
.spr-item-164 { background-position: -224px -160px; }
.spr-item-165 { background-position: -256px -160px; }
.spr-item-166 { background-position: -288px -160px; }
.spr-item-167 { background-position: -320px -160px; }
.spr-item-168 { background-position: -352px -160px; }
.spr-item-169 { background-position: -384px -160px; }
.spr-item-170 { background-position: -416px -160px; }
.spr-item-171 { background-position: -448px -160px; }
.spr-item-172 { background-position: -480px -160px; }
.spr-item-173 { background-position: -512px -160px; }
.spr-item-174 { background-position: -544px -160px; }
.spr-item-175 { background-position: -576px -160px; }
.spr-item-176 { background-position: -608px -160px; }
.spr-item-177 { background-position: -640px -160px; }
.spr-item-178 { background-position: -672px -160px; }
.spr-item-179 { background-position: -704px -160px; }
.spr-item-180 { background-position: -736px -160px; }
.spr-item-181 { background-position: -768px -160px; }
.spr-item-182 { background-position: -800px -160px; }
.spr-item-183 { background-position: -832px -160px; }
.spr-item-184 { background-position: -864px -160px; }
.spr-item-185 { background-position: 0 -192px; }
.spr-item-186 { background-position: -32px -192px; }
.spr-item-187 { background-position: -64px -192px; }
.spr-item-188 { background-position: -96px -192px; }
.spr-item-189 { background-position: -128px -192px; }
.spr-item-190 { background-position: -160px -192px; }
.spr-item-191 { background-position: -192px -192px; }
.spr-item-192 { background-position: -224px -192px; }
.spr-item-193 { background-position: -256px -192px; }
.spr-item-194 { background-position: -288px -192px; }
.spr-item-195 { background-position: -320px -192px; }
.spr-item-196 { background-position: -352px -192px; }
.spr-item-197 { background-position: -384px -192px; }
.spr-item-198 { background-position: -416px -192px; }
.spr-item-199 { background-position: -448px -192px; }
.spr-item-200 { background-position: -480px -192px; }
.spr-item-201 { background-position: -512px -192px; }
.spr-item-202 { background-position: -544px -192px; }
.spr-item-203 { background-position: -576px -192px; }
.spr-item-204 { background-position: -608px -192px; }
.spr-item-205 { background-position: -640px -192px; }
.spr-item-206 { background-position: -672px -192px; }
.spr-item-207 { background-position: -704px -192px; }
.spr-item-208 { background-position: -736px -192px; }
.spr-item-209 { background-position: -768px -192px; }
.spr-item-210 { background-position: -800px -192px; }
.spr-item-211 { background-position: -832px -192px; }
.spr-item-212 { background-position: -864px -192px; }
.spr-item-213 { background-position: 0 -224px; }
.spr-item-214 { background-position: -32px -224px; }
.spr-item-215 { background-position: -64px -224px; }
.spr-item-216 { background-position: -96px -224px; }
.spr-item-217 { background-position: -128px -224px; }
.spr-item-218 { background-position: -160px -224px; }
.spr-item-219 { background-position: -192px -224px; }
.spr-item-220 { background-position: -224px -224px; }
.spr-item-221 { background-position: -256px -224px; }
.spr-item-222 { background-position: -288px -224px; }
.spr-item-223 { background-position: -320px -224px; }
.spr-item-224 { background-position: -352px -224px; }
.spr-item-225 { background-position: -384px -224px; }
.spr-item-226 { background-position: -416px -224px; }
.spr-item-227 { background-position: -448px -224px; }
.spr-item-228 { background-position: -480px -224px; }
.spr-item-229 { background-position: -512px -224px; }
.spr-item-230 { background-position: -544px -224px; }
.spr-item-231 { background-position: -576px -224px; }
.spr-item-232 { background-position: -608px -224px; }
.spr-item-233 { background-position: -640px -224px; }
.spr-item-234 { background-position: -672px -224px; }
.spr-item-235 { background-position: -704px -224px; }
.spr-item-236 { background-position: -736px -224px; }
.spr-item-237 { background-position: -768px -224px; }
.spr-item-238 { background-position: -800px -224px; }
.spr-item-239 { background-position: -832px -224px; }
.spr-item-240 { background-position: -864px -224px; }
.spr-item-241 { background-position: 0 -256px; }
.spr-item-242 { background-position: -32px -256px; }
.spr-item-243 { background-position: -64px -256px; }
.spr-item-244 { background-position: -96px -256px; }
.spr-item-245 { background-position: -128px -256px; }
.spr-item-246 { background-position: -160px -256px; }
.spr-item-247 { background-position: -192px -256px; }
.spr-item-248 { background-position: -224px -256px; }
.spr-item-249 { background-position: -256px -256px; }
.spr-item-250 { background-position: -288px -256px; }
.spr-item-251 { background-position: -320px -256px; }
.spr-item-252 { background-position: -352px -256px; }
.spr-item-253 { background-position: -384px -256px; }
.spr-item-254 { background-position: -416px -256px; }
.spr-item-255 { background-position: -448px -256px; }
.spr-item-256 { background-position: -480px -256px; }
.spr-item-257 { background-position: -512px -256px; }
.spr-item-258 { background-position: -704px -96px; }
.spr-item-259 { background-position: -544px -256px; }
.spr-item-260 { background-position: -576px -256px; }
.spr-item-261 { background-position: -608px -256px; }
.spr-item-262 { background-position: -640px -256px; }
.spr-item-263 { background-position: -672px -256px; }
.spr-item-264 { background-position: -704px -256px; }
.spr-item-265 { background-position: -736px -256px; }
.spr-item-266 { background-position: -768px -256px; }
.spr-item-267 { background-position: -800px -256px; }
.spr-item-268 { background-position: -832px -256px; }
.spr-item-269 { background-position: -864px -256px; }
.spr-item-270 { background-position: 0 -288px; }
.spr-item-271 { background-position: -32px -288px; }
.spr-item-272 { background-position: -64px -288px; }
.spr-item-273 { background-position: -96px -288px; }
.spr-item-274 { background-position: -128px -288px; }
.spr-item-275 { background-position: -160px -288px; }
.spr-item-276 { background-position: -192px -288px; }
.spr-item-277 { background-position: -224px -288px; }
.spr-item-278 { background-position: -256px -288px; }
.spr-item-279 { background-position: -288px -288px; }
.spr-item-280 { background-position: -320px -288px; }
.spr-item-281 { background-position: -352px -288px; }
.spr-item-282 { background-position: -384px -288px; }
.spr-item-283 { background-position: -416px -288px; }
.spr-item-284 { background-position: -448px -288px; }
.spr-item-285 { background-position: -480px -288px; }
.spr-item-286 { background-position: -512px -288px; }
.spr-item-287 { background-position: -544px -288px; }
.spr-item-288 { background-position: -576px -288px; }
.spr-item-289 { background-position: -608px -288px; }
.spr-item-290 { background-position: -640px -288px; }
.spr-item-291 { background-position: -672px -288px; }
.spr-item-292 { background-position: -704px -288px; }
.spr-item-293 { background-position: -736px -288px; }
.spr-item-294 { background-position: -768px -288px; }
.spr-item-295 { background-position: -800px -288px; }
.spr-item-296 { background-position: -832px -288px; }
.spr-item-297 { background-position: -864px -288px; }
.spr-item-298 { background-position: 0 -320px; }
.spr-item-299 { background-position: -32px -320px; }
.spr-item-300 { background-position: -64px -320px; }
.spr-item-301 { background-position: -96px -320px; }
.spr-item-302 { background-position: -128px -320px; }
.spr-item-303 { background-position: -160px -320px; }
.spr-item-304 { background-position: -192px -320px; }
.spr-item-305 { background-position: -224px -320px; }
.spr-item-306 { background-position: -256px -320px; }
.spr-item-307 { background-position: -288px -320px; }
.spr-item-308 { background-position: -320px -320px; }
.spr-item-309 { background-position: -352px -320px; }
.spr-item-310 { background-position: -384px -320px; }
.spr-item-311 { background-position: -416px -320px; }
.spr-item-312 { background-position: -448px -320px; }
.spr-item-313 { background-position: -480px -320px; }
.spr-item-314 { background-position: -512px -320px; }
.spr-item-315 { background-position: -544px -320px; }
.spr-item-316 { background-position: -576px -320px; }
.spr-item-317 { background-position: -608px -320px; }
.spr-item-318 { background-position: -640px -320px; }
.spr-item-319 { background-position: -672px -320px; }
.spr-item-320 { background-position: -704px -320px; }
.spr-item-321 { background-position: -736px -320px; }
.spr-item-322 { background-position: -768px -320px; }
.spr-item-323 { background-position: -800px -320px; }
.spr-item-324 { background-position: -832px -320px; }
.spr-item-325 { background-position: -864px -320px; }
.spr-item-326 { background-position: 0 -352px; }
.spr-item-327 { background-position: -32px -352px; }
.spr-item-328 { background-position: -160px -352px; }
.spr-item-329 { background-position: -96px -352px; }
.spr-item-330 { background-position: -128px -352px; }
.spr-item-331 { background-position: -128px -352px; }
.spr-item-332 { background-position: -160px -352px; }
.spr-item-333 { background-position: -192px -352px; }
.spr-item-334 { background-position: -224px -352px; }
.spr-item-335 { background-position: -256px -352px; }
.spr-item-336 { background-position: -192px -352px; }
.spr-item-337 { background-position: -160px -352px; }
.spr-item-338 { background-position: -288px -352px; }
.spr-item-339 { background-position: -64px -352px; }
.spr-item-340 { background-position: -224px -352px; }
.spr-item-341 { background-position: -224px -352px; }
.spr-item-342 { background-position: -160px -352px; }
.spr-item-343 { background-position: -128px -352px; }
.spr-item-344 { background-position: -160px -352px; }
.spr-item-345 { background-position: -320px -352px; }
.spr-item-346 { background-position: -512px -352px; }
.spr-item-347 { background-position: -160px -352px; }
.spr-item-348 { background-position: -160px -352px; }
.spr-item-349 { background-position: -352px -352px; }
.spr-item-350 { background-position: -384px -352px; }
.spr-item-351 { background-position: -416px -352px; }
.spr-item-352 { background-position: -416px -352px; }
.spr-item-353 { background-position: -448px -352px; }
.spr-item-354 { background-position: -160px -352px; }
.spr-item-355 { background-position: -576px -352px; }
.spr-item-356 { background-position: -128px -352px; }
.spr-item-357 { background-position: -480px -352px; }
.spr-item-358 { background-position: -256px -352px; }
.spr-item-359 { background-position: -160px -352px; }
.spr-item-360 { background-position: -128px -352px; }
.spr-item-361 { background-position: -192px -352px; }
.spr-item-362 { background-position: -288px -352px; }
.spr-item-363 { background-position: -192px -352px; }
.spr-item-364 { background-position: -384px -352px; }
.spr-item-365 { background-position: -288px -352px; }
.spr-item-366 { background-position: -384px -352px; }
.spr-item-367 { background-position: -512px -352px; }
.spr-item-368 { background-position: -64px -352px; }
.spr-item-369 { background-position: -160px -352px; }
.spr-item-370 { background-position: -288px -352px; }
.spr-item-371 { background-position: -128px -352px; }
.spr-item-372 { background-position: -160px -352px; }
.spr-item-373 { background-position: -64px -352px; }
.spr-item-374 { background-position: -256px -352px; }
.spr-item-375 { background-position: -160px -352px; }
.spr-item-376 { background-position: -160px -352px; }
.spr-item-377 { background-position: -288px -352px; }
.spr-item-378 { background-position: -544px -352px; }
.spr-item-379 { background-position: -256px -352px; }
.spr-item-380 { background-position: -352px -352px; }
.spr-item-381 { background-position: -160px -352px; }
.spr-item-382 { background-position: -320px -352px; }
.spr-item-383 { background-position: -64px -352px; }
.spr-item-384 { background-position: -416px -352px; }
.spr-item-385 { background-position: -512px -352px; }
.spr-item-386 { background-position: -64px -352px; }
.spr-item-387 { background-position: -64px -352px; }
.spr-item-388 { background-position: -288px -352px; }
.spr-item-389 { background-position: -512px -352px; }
.spr-item-390 { background-position: -64px -352px; }
.spr-item-391 { background-position: -160px -352px; }
.spr-item-392 { background-position: -480px -352px; }
.spr-item-393 { background-position: -64px -352px; }
.spr-item-394 { background-position: -544px -352px; }
.spr-item-395 { background-position: -160px -352px; }
.spr-item-396 { background-position: -384px -352px; }
.spr-item-397 { background-position: -224px -352px; }
.spr-item-398 { background-position: -384px -352px; }
.spr-item-399 { background-position: -416px -352px; }
.spr-item-400 { background-position: -416px -352px; }
.spr-item-401 { background-position: -544px -352px; }
.spr-item-402 { background-position: -160px -352px; }
.spr-item-403 { background-position: -512px -352px; }
.spr-item-404 { background-position: -160px -352px; }
.spr-item-405 { background-position: -448px -352px; }
.spr-item-406 { background-position: -224px -352px; }
.spr-item-407 { background-position: -384px -352px; }
.spr-item-408 { background-position: -576px -352px; }
.spr-item-409 { background-position: -96px -352px; }
.spr-item-410 { background-position: -576px -352px; }
.spr-item-411 { background-position: -192px -352px; }
.spr-item-412 { background-position: -128px -352px; }
.spr-item-413 { background-position: -352px -352px; }
.spr-item-414 { background-position: -160px -352px; }
.spr-item-415 { background-position: -160px -352px; }
.spr-item-416 { background-position: -576px -352px; }
.spr-item-417 { background-position: -160px -352px; }
.spr-item-418 { background-position: -544px -352px; }
.spr-item-419 { background-position: -128px -352px; }
.spr-item-420 { background-position: -608px -352px; }
.spr-item-421 { background-position: -640px -352px; }
.spr-item-422 { background-position: -672px -352px; }
.spr-item-423 { background-position: -608px -352px; }
.spr-item-424 { background-position: -672px -352px; }
.spr-item-425 { background-position: -320px -672px; }
.spr-item-428 { background-position: -704px -352px; }
.spr-item-429 { background-position: -736px -352px; }
.spr-item-430 { background-position: -768px -352px; }
.spr-item-431 { background-position: -800px -352px; }
.spr-item-432 { background-position: -832px -352px; }
.spr-item-433 { background-position: -864px -352px; }
.spr-item-434 { background-position: 0 -384px; }
.spr-item-435 { background-position: -32px -384px; }
.spr-item-436 { background-position: -64px -384px; }
.spr-item-437 { background-position: -96px -384px; }
.spr-item-438 { background-position: -128px -384px; }
.spr-item-439 { background-position: -160px -384px; }
.spr-item-440 { background-position: -192px -384px; }
.spr-item-441 { background-position: -224px -384px; }
.spr-item-442 { background-position: -256px -384px; }
.spr-item-443 { background-position: -288px -384px; }
.spr-item-444 { background-position: -320px -384px; }
.spr-item-445 { background-position: -352px -384px; }
.spr-item-446 { background-position: -384px -384px; }
.spr-item-447 { background-position: -416px -384px; }
.spr-item-448 { background-position: -448px -384px; }
.spr-item-449 { background-position: -480px -384px; }
.spr-item-450 { background-position: -512px -384px; }
.spr-item-451 { background-position: -544px -384px; }
.spr-item-452 { background-position: -576px -384px; }
.spr-item-453 { background-position: -608px -384px; }
.spr-item-454 { background-position: -640px -384px; }
.spr-item-455 { background-position: -672px -384px; }
.spr-item-456 { background-position: -704px -384px; }
.spr-item-457 { background-position: -736px -384px; }
.spr-item-458 { background-position: -768px -384px; }
.spr-item-459 { background-position: -800px -384px; }
.spr-item-460 { background-position: -832px -384px; }
.spr-item-461 { background-position: -864px -384px; }
.spr-item-462 { background-position: 0 -416px; }
.spr-item-463 { background-position: -32px -416px; }
.spr-item-464 { background-position: -64px -416px; }
.spr-item-465 { background-position: -96px -416px; }
.spr-item-466 { background-position: -128px -416px; }
.spr-item-467 { background-position: -160px -416px; }
.spr-item-468 { background-position: -192px -416px; }
.spr-item-469 { background-position: -224px -416px; }
.spr-item-470 { background-position: -256px -416px; }
.spr-item-471 { background-position: -288px -416px; }
.spr-item-472 { background-position: -320px -416px; }
.spr-item-473 { background-position: -352px -416px; }
.spr-item-474 { background-position: -384px -416px; }
.spr-item-475 { background-position: -416px -416px; }
.spr-item-476 { background-position: -448px -416px; }
.spr-item-477 { background-position: -480px -416px; }
.spr-item-478 { background-position: -512px -416px; }
.spr-item-479 { background-position: -544px -416px; }
.spr-item-480 { background-position: -576px -416px; }
.spr-item-481 { background-position: -608px -416px; }
.spr-item-482 { background-position: -640px -416px; }
.spr-item-483 { background-position: -672px -416px; }
.spr-item-484 { background-position: -704px -416px; }
.spr-item-485 { background-position: -736px -416px; }
.spr-item-486 { background-position: -768px -416px; }
.spr-item-487 { background-position: -800px -416px; }
.spr-item-488 { background-position: -832px -416px; }
.spr-item-489 { background-position: -864px -416px; }
.spr-item-490 { background-position: 0 -448px; }
.spr-item-491 { background-position: -32px -448px; }
.spr-item-492, .spr-ball-17 { background-position: -64px -448px; }
.spr-item-493, .spr-ball-18 { background-position: -96px -448px; }
.spr-item-494, .spr-ball-19 { background-position: -128px -448px; }
.spr-item-495, .spr-ball-20 { background-position: -160px -448px; }
.spr-item-496, .spr-ball-21 { background-position: -192px -448px; }
.spr-item-497, .spr-ball-22 { background-position: -224px -448px; }
.spr-item-498, .spr-ball-23 { background-position: -256px -448px; }
.spr-item-499, .spr-ball-24 { background-position: -288px -448px; }
.spr-item-500 { background-position: -320px -448px; }
.spr-item-502 { background-position: -352px -448px; }
.spr-item-503 { background-position: -384px -448px; }
.spr-item-504 { background-position: -416px -448px; }
.spr-item-532 { background-position: -448px -448px; }
.spr-item-533 { background-position: -480px -448px; }
.spr-item-534 { background-position: -512px -448px; }
.spr-item-535 { background-position: -544px -448px; }
.spr-item-536 { background-position: -576px -448px; }
.spr-item-537 { background-position: -608px -448px; }
.spr-item-538 { background-position: -640px -448px; }
.spr-item-539 { background-position: -672px -448px; }
.spr-item-540 { background-position: -704px -448px; }
.spr-item-541 { background-position: -736px -448px; }
.spr-item-542 { background-position: -768px -448px; }
.spr-item-543 { background-position: -800px -448px; }
.spr-item-544 { background-position: -832px -448px; }
.spr-item-545 { background-position: -864px -448px; }
.spr-item-546 { background-position: 0 -480px; }
.spr-item-547 { background-position: -32px -480px; }
.spr-item-548 { background-position: -64px -480px; }
.spr-item-549 { background-position: -96px -480px; }
.spr-item-550 { background-position: -128px -480px; }
.spr-item-551 { background-position: -160px -480px; }
.spr-item-552 { background-position: -192px -480px; }
.spr-item-553 { background-position: -224px -480px; }
.spr-item-554 { background-position: -256px -480px; }
.spr-item-555 { background-position: -288px -480px; }
.spr-item-556 { background-position: -320px -480px; }
.spr-item-557 { background-position: -352px -480px; }
.spr-item-558 { background-position: -384px -480px; }
.spr-item-559 { background-position: -416px -480px; }
.spr-item-560 { background-position: -448px -480px; }
.spr-item-561 { background-position: -480px -480px; }
.spr-item-562 { background-position: -512px -480px; }
.spr-item-563 { background-position: -544px -480px; }
.spr-item-564 { background-position: -576px -480px; }
.spr-item-565 { background-position: -608px -480px; }
.spr-item-566 { background-position: -640px -480px; }
.spr-item-567 { background-position: -672px -480px; }
.spr-item-568 { background-position: -704px -480px; }
.spr-item-569 { background-position: -736px -480px; }
.spr-item-570 { background-position: -768px -480px; }
.spr-item-571 { background-position: -800px -480px; }
.spr-item-572 { background-position: -832px -480px; }
.spr-item-573 { background-position: -864px -480px; }
.spr-item-574 { background-position: 0 -512px; }
.spr-item-575 { background-position: -32px -512px; }
.spr-item-576, .spr-ball-25 { background-position: -64px -512px; }
.spr-item-577 { background-position: -96px -512px; }
.spr-item-578 { background-position: -128px -512px; }
.spr-item-579 { background-position: -160px -512px; }
.spr-item-580 { background-position: -192px -512px; }
.spr-item-581 { background-position: -224px -512px; }
.spr-item-582 { background-position: -256px -512px; }
.spr-item-583 { background-position: -288px -512px; }
.spr-item-584 { background-position: -320px -512px; }
.spr-item-585 { background-position: -352px -512px; }
.spr-item-586 { background-position: -384px -512px; }
.spr-item-587 { background-position: -416px -512px; }
.spr-item-588 { background-position: -448px -512px; }
.spr-item-589 { background-position: -480px -512px; }
.spr-item-590 { background-position: -512px -512px; }
.spr-item-591 { background-position: -544px -512px; }
.spr-item-592 { background-position: -576px -512px; }
.spr-item-593 { background-position: -608px -512px; }
.spr-item-594 { background-position: -640px -512px; }
.spr-item-595 { background-position: -672px -512px; }
.spr-item-596 { background-position: -704px -512px; }
.spr-item-597 { background-position: -736px -512px; }
.spr-item-598 { background-position: -768px -512px; }
.spr-item-599 { background-position: -800px -512px; }
.spr-item-600 { background-position: -832px -512px; }
.spr-item-601 { background-position: -864px -512px; }
.spr-item-602 { background-position: 0 -544px; }
.spr-item-603 { background-position: -32px -544px; }
.spr-item-604 { background-position: -64px -544px; }
.spr-item-605 { background-position: -96px -544px; }
.spr-item-606 { background-position: -128px -544px; }
.spr-item-607 { background-position: -160px -544px; }
.spr-item-608 { background-position: -192px -544px; }
.spr-item-609 { background-position: -224px -544px; }
.spr-item-610 { background-position: -256px -544px; }
.spr-item-611 { background-position: -288px -544px; }
.spr-item-612 { background-position: -320px -544px; }
.spr-item-613 { background-position: -352px -544px; }
.spr-item-614 { background-position: -384px -544px; }
.spr-item-615 { background-position: -416px -544px; }
.spr-item-616 { background-position: -448px -544px; }
.spr-item-617 { background-position: -480px -544px; }
.spr-item-618 { background-position: -416px -352px; }
.spr-item-619 { background-position: -320px -352px; }
.spr-item-620 { background-position: -64px -352px; }
.spr-item-621 { background-position: -512px -544px; }
.spr-item-622 { background-position: -544px -544px; }
.spr-item-623 { background-position: -576px -544px; }
.spr-item-626 { background-position: -608px -544px; }
.spr-item-627 { background-position: -640px -544px; }
.spr-item-628 { background-position: -672px -544px; }
.spr-item-629 { background-position: -672px -544px; }
.spr-item-630 { background-position: -704px -544px; }
.spr-item-631 { background-position: -736px -544px; }
.spr-item-632 { background-position: -768px -544px; }
.spr-item-633 { background-position: -800px -544px; }
.spr-item-634 { background-position: -832px -544px; }
.spr-item-635 { background-position: -864px -544px; }
.spr-item-636 { background-position: -512px -544px; }
.spr-item-637 { background-position: -608px -544px; }
.spr-item-638 { background-position: 0 -576px; }
.spr-item-639 { background-position: -32px -576px; }
.spr-item-640 { background-position: -64px -576px; }
.spr-item-641 { background-position: -96px -576px; }
.spr-item-642 { background-position: -128px -576px; }
.spr-item-643 { background-position: -160px -576px; }
.spr-item-644 { background-position: -192px -576px; }
.spr-item-645 { background-position: -224px -576px; }
.spr-item-646 { background-position: -256px -576px; }
.spr-item-647 { background-position: -288px -576px; }
.spr-item-648 { background-position: -320px -576px; }
.spr-item-649 { background-position: -352px -576px; }
.spr-item-650 { background-position: -384px -576px; }
.spr-item-651 { background-position: -416px -576px; }
.spr-item-652 { background-position: -448px -576px; }
.spr-item-653 { background-position: -480px -576px; }
.spr-item-654 { background-position: -512px -576px; }
.spr-item-655 { background-position: -544px -576px; }
.spr-item-656 { background-position: -576px -576px; }
.spr-item-657 { background-position: -608px -576px; }
.spr-item-658 { background-position: -640px -576px; }
.spr-item-659 { background-position: -672px -576px; }
.spr-item-660 { background-position: -704px -576px; }
.spr-item-661 { background-position: -736px -576px; }
.spr-item-662 { background-position: -768px -576px; }
.spr-item-663 { background-position: -800px -576px; }
.spr-item-664 { background-position: -832px -576px; }
.spr-item-665 { background-position: -864px -576px; }
.spr-item-666 { background-position: 0 -608px; }
.spr-item-667 { background-position: -32px -608px; }
.spr-item-668 { background-position: -64px -608px; }
.spr-item-669 { background-position: -96px -608px; }
.spr-item-670 { background-position: -128px -608px; }
.spr-item-671 { background-position: -160px -608px; }
.spr-item-672 { background-position: -192px -608px; }
.spr-item-673 { background-position: -224px -608px; }
.spr-item-674 { background-position: -256px -608px; }
.spr-item-675 { background-position: -288px -608px; }
.spr-item-676 { background-position: -320px -608px; }
.spr-item-677 { background-position: -352px -608px; }
.spr-item-678 { background-position: -384px -608px; }
.spr-item-679 { background-position: -416px -608px; }
.spr-item-680 { background-position: -448px -608px; }
.spr-item-681 { background-position: -480px -608px; }
.spr-item-682 { background-position: -512px -608px; }
.spr-item-683 { background-position: -544px -608px; }
.spr-item-684 { background-position: -576px -608px; }
.spr-item-685 { background-position: -608px -608px; }
.spr-item-686 { background-position: -640px -608px; }
.spr-item-687 { background-position: -672px -608px; }
.spr-item-688 { background-position: -704px -608px; }
.spr-item-689 { background-position: -736px -608px; }
.spr-item-690 { background-position: -160px -352px; }
.spr-item-691 { background-position: -64px -352px; }
.spr-item-692 { background-position: -320px -352px; }
.spr-item-693 { background-position: -768px -608px; }
.spr-item-694 { background-position: -160px -352px; }
.spr-item-695 { background-position: -800px -608px; }
.spr-item-696 { background-position: -832px -608px; }
.spr-item-697 { background-position: -864px -608px; }
.spr-item-698 { background-position: 0 -640px; }
.spr-item-699 { background-position: -32px -640px; }
.spr-item-700 { background-position: -64px -640px; }
.spr-item-701 { background-position: -96px -640px; }
.spr-item-702 { background-position: -128px -640px; }
.spr-item-703 { background-position: -160px -640px; }
.spr-item-704 { background-position: -192px -640px; }
.spr-item-705 { background-position: -224px -640px; }
.spr-item-706 { background-position: -256px -640px; }
.spr-item-707 { background-position: -288px -640px; }
.spr-item-708 { background-position: -320px -640px; }
.spr-item-709 { background-position: -352px -640px; }
.spr-item-710 { background-position: -384px -640px; }
.spr-item-711 { background-position: -416px -640px; }
.spr-item-712 { background-position: -448px -640px; }
.spr-item-713 { background-position: -480px -640px; }
.spr-item-714 { background-position: -512px -640px; }
.spr-item-715 { background-position: -544px -640px; }
.spr-item-716 { background-position: -576px -640px; }
.spr-item-718 { background-position: -608px -640px; }
.spr-item-719 { background-position: -640px -640px; }
.spr-item-720 { background-position: -672px -640px; }
.spr-item-721 { background-position: -704px -640px; }
.spr-item-722 { background-position: -736px -640px; }
.spr-item-723 { background-position: -768px -640px; }
.spr-item-724 { background-position: -800px -640px; }
.spr-item-725 { background-position: -832px -640px; }
.spr-item-726 { background-position: -864px -640px; }
.spr-item-727 { background-position: 0 -672px; }
.spr-item-728 { background-position: -32px -672px; }
.spr-item-729 { background-position: -64px -672px; }
.spr-item-730 { background-position: -96px -672px; }
.spr-item-731 { background-position: -128px -672px; }
.spr-item-732 { background-position: -160px -672px; }
.spr-item-733 { background-position: -192px -672px; }
.spr-item-734 { background-position: -224px -672px; }
.spr-item-735 { background-position: -256px -672px; }
.spr-item-736 { background-position: -288px -672px; }
.spr-item-737 { background-position: -672px -352px; }
.spr-item-738 { background-position: -352px -672px; }
.spr-item-739 { background-position: -384px -672px; }
.spr-item-740 { background-position: -416px -672px; }
.spr-item-741 { background-position: -448px -672px; }
.spr-item-742 { background-position: -480px -672px; }
.spr-item-743 { background-position: -512px -672px; }
.spr-item-744 { background-position: -544px -672px; }
.spr-item-751 { background-position: -576px -672px; }
.spr-item-752 { background-position: -608px -672px; }
.spr-item-753 { background-position: -640px -672px; }
.spr-item-754 { background-position: -672px -672px; }
.spr-item-755 { background-position: -704px -672px; }
.spr-item-756 { background-position: -736px -672px; }
.spr-item-757 { background-position: -768px -672px; }
.spr-item-758 { background-position: -800px -672px; }
.spr-item-759 { background-position: -832px -672px; }
.spr-item-760 { background-position: -864px -672px; }
.spr-item-761 { background-position: 0 -704px; }
.spr-item-762 { background-position: -32px -704px; }
.spr-item-763 { background-position: -64px -704px; }
.spr-item-764 { background-position: -96px -704px; }
.spr-item-765 { background-position: -128px -704px; }
.spr-item-766 { background-position: -160px -704px; }
.spr-item-767 { background-position: -192px -704px; }
.spr-item-768 { background-position: -224px -704px; }
.spr-item-769 { background-position: -256px -704px; }
.spr-item-770 { background-position: -288px -704px; }
.spr-item-771 { background-position: -320px -704px; }
.spr-item-772 { background-position: -352px -704px; }
.spr-item-773 { background-position: -384px -704px; }
.spr-item-774 { background-position: -416px -704px; }
.spr-item-775 { background-position: -448px -704px; }
.spr-item-776 { background-position: -480px -704px; }
.spr-item-777 { background-position: -512px -704px; }
.spr-item-778 { background-position: -544px -704px; }
.spr-item-779 { background-position: -576px -704px; }
.spr-item-780 { background-position: -608px -704px; }
.spr-item-781 { background-position: -640px -704px; }
.spr-item-782 { background-position: -672px -704px; }
.spr-item-783 { background-position: -704px -704px; }
.spr-item-784 { background-position: -736px -704px; }
.spr-item-785 { background-position: -768px -704px; }
.spr-item-786 { background-position: -800px -704px; }
.spr-item-787 { background-position: -832px -704px; }
.spr-item-788 { background-position: -864px -704px; }
.spr-item-789 { background-position: 0 -736px; }
.spr-item-790 { background-position: -32px -736px; }
.spr-item-791 { background-position: -64px -736px; }
.spr-item-792 { background-position: -96px -736px; }
.spr-item-793 { background-position: -128px -736px; }
.spr-item-794 { background-position: -160px -736px; }
.spr-item-795 { background-position: -192px -736px; }
.spr-item-796 { background-position: -224px -736px; }
.spr-item-797 { background-position: -256px -736px; }
.spr-item-798 { background-position: -288px -736px; }
.spr-item-799 { background-position: -320px -736px; }
.spr-item-800 { background-position: -352px -736px; }
.spr-item-801 { background-position: -384px -736px; }
.spr-item-802 { background-position: -416px -736px; }
.spr-item-803 { background-position: -448px -736px; }
.spr-item-804 { background-position: -480px -736px; }
.spr-item-805 { background-position: -512px -736px; }
.spr-item-806 { background-position: -544px -736px; }
.spr-item-807 { background-position: -576px -736px; }
.spr-item-808 { background-position: -608px -736px; }
.spr-item-809 { background-position: -640px -736px; }
.spr-item-810 { background-position: -672px -736px; }
.spr-item-811 { background-position: -704px -736px; }
.spr-item-812 { background-position: -736px -736px; }
.spr-item-813 { background-position: -768px -736px; }
.spr-item-814 { background-position: -800px -736px; }
.spr-item-815 { background-position: -832px -736px; }
.spr-item-816 { background-position: -864px -736px; }
.spr-item-817 { background-position: 0 -768px; }
.spr-item-818 { background-position: -32px -768px; }
.spr-item-819 { background-position: -64px -768px; }
.spr-item-820 { background-position: -96px -768px; }
.spr-item-821 { background-position: -128px -768px; }
.spr-item-822 { background-position: -160px -768px; }
.spr-item-823 { background-position: -192px -768px; }
.spr-item-824 { background-position: -224px -768px; }
.spr-item-825 { background-position: -256px -768px; }
.spr-item-826 { background-position: -288px -768px; }
.spr-item-827 { background-position: -320px -768px; }
.spr-item-828 { background-position: -352px -768px; }
.spr-item-829 { background-position: -384px -768px; }
.spr-item-830 { background-position: -416px -768px; }
.spr-item-831 { background-position: -448px -768px; }
.spr-item-832 { background-position: -480px -768px; }
.spr-item-833 { background-position: -512px -768px; }
.spr-item-834 { background-position: -544px -768px; }
.spr-item-835 { background-position: -576px -768px; }
.spr-item-836 { background-position: -608px -768px; }
.spr-item-841 { background-position: -640px -768px; }
.spr-item-842 { background-position: -672px -768px; }
.spr-item-843 { background-position: -704px -768px; }
.spr-item-844 { background-position: -736px -768px; }
.spr-item-845 { background-position: -768px -768px; }
.spr-item-846 { background-position: -800px -768px; }
.spr-item-847 { background-position: -832px -768px; }
.spr-item-849 { background-position: -864px -768px; }
.spr-item-850 { background-position: 0 -800px; }
.spr-item-851, .spr-ball-26 { background-position: -32px -800px; }
.spr-item-852 { background-position: -64px -800px; }
.spr-item-853 { background-position: -96px -800px; }
.spr-item-854 { background-position: -128px -800px; }
.spr-item-855 { background-position: -160px -800px; }
.spr-item-856 { background-position: -192px -800px; }
.spr-item-857 { background-position: -224px -800px; }
.spr-item-858 { background-position: -256px -800px; }
.spr-item-860 { background-position: -288px -800px; }
.spr-item-879 { background-position: -320px -800px; }
.spr-item-880 { background-position: -352px -800px; }
.spr-item-881 { background-position: -384px -800px; }
.spr-item-882 { background-position: -416px -800px; }
.spr-item-883 { background-position: -448px -800px; }
.spr-item-884 { background-position: -480px -800px; }
.spr-item-904 { background-position: -512px -800px; }
.spr-item-905 { background-position: -544px -800px; }
.spr-item-906 { background-position: -576px -800px; }
.spr-item-907 { background-position: -608px -800px; }
.spr-item-908 { background-position: -640px -800px; }
.spr-item-909 { background-position: -672px -800px; }
.spr-item-910 { background-position: -704px -800px; }
.spr-item-911 { background-position: -736px -800px; }
.spr-item-912 { background-position: -768px -800px; }
.spr-item-913 { background-position: -800px -800px; }
.spr-item-914 { background-position: -832px -800px; }
.spr-item-915 { background-position: -864px -800px; }
.spr-item-916 { background-position: 0 -832px; }
.spr-item-917 { background-position: -32px -832px; }
.spr-item-918 { background-position: -64px -832px; }
.spr-item-919 { background-position: -96px -832px; }
.spr-item-920 { background-position: -128px -832px; }
