<!-- Temp file for proof-of-concept, feel free to move/overhaul -->

<form method="post" action="" enctype="multipart/form-data">
  <input type="file" name="pk6">
  <input type="submit" value="Upload">
</form>
