<div ng-init="profile.fetch()" ng-show=profile.data.name>
  <h1>{{profile.name}}'s profile</h1>
  <h3 ng-if="profile.name === main.user.name">That's you! :D</h3>
  <h3 ng-if="profile.name !== main.user.name">That's someone else :(</h3>

  <p>This user's friend codes are: {{profile.data.friendCodes.join(',')}}</p>

  <p>This user's TSVs are: {{profile.data.trainerShinyValues.join(',')}}</p>

  <p>This user's IGNs are: {{profile.data.inGameNames.join(',')}}</p>

  <div ng-if="profile.name === main.user.name">
    <p>Edit your information by entering it here as a series of comma-separated strings.</p>
    <p>TODO: Make this UI less awful</p>
    IGNs: <input type="text" ng-model="profile.editedIgns"></input>
    FCs: <input type="text" ng-model="profile.editedFcs"></input>
    TSVs: <input type="text" ng-model="profile.editedTsvs"></input>
    <button ng-click="profile.edit()">Update</button>
  </div>
</div>

<div ng-if="profile.errorStatusCode" ng-include="'/errors/' + profile.errorStatusCode + '.html'"></div>
