<div ng-init="profile.fetchInfo(); profile.fetchBoxes()" ng-show="profile.data.name">
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <h3><span>{{profile.data.name}}'s profile</span></h3>
      <span flex></span>
      <md-button class="md-icon-button" ng-if="profile.data.name === main.user.name" ng-click="profile.edit()">
        <md-tooltip md-direction="left">Edit information</md-tooltip>
        <i class="material-icons">edit</i>
      </md-button>

    </div>
  </md-toolbar>
  <md-subheader class="md-primary">{{profile.data.name}}'s info</md-subheader>
  <md-content layout-padding>
    <div class="md-body-1">
      <div>
        <strong>Friend codes </strong>
        <span ng-repeat="fc in profile.data.friendCodes">{{fc}}{{$last ? '' : ', '}}</span>
      </div>

      <div>
        <strong>IGNs </strong>
        <span ng-repeat="ign in profile.data.inGameNames">{{ign}}{{$last ? '' : ', '}}</span>
      </div>

      <div>
        <strong>TSVs </strong>
        <span ng-repeat="tsv in profile.data.trainerShinyValues">{{tsv}}{{$last ? '' : ', '}}</span>
      </div>
    </div>
  </md-content>
  <md-subheader class="md-primary">{{profile.data.name}}'s boxes</md-subheader>
  <div layout="column" layout-gt-xs="row" layout-align="start" layout-wrap ng-show="profile.data.boxes">
    <div flex-xs ng-repeat="box in profile.data.boxes track by box.id" class="hide-scroll">
      <box-card data="box"></box-card>
    </div>
  </div>
</div>

<div ng-if="profile.errorStatusCode" ng-include="'/errors/' + profile.errorStatusCode + '.html'"></div>
