<md-card>
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <span>Login</span>
    </div>
  </md-toolbar>
  <md-card-content>
    <form role="form" ng-submit="auth.login()" method="POST">
      <md-input-container class="md-block">
        <input type="text" name="username" ng-model="loginName">
        <label>Username</label>
      </md-input-container>
      <md-input-container class="md-block">
        <input type="password" name="password" ng-model="loginPassword">
        <label>Password</label>
      </md-input-container>
      <span ng-if="auth.loginError">{{auth.loginError}}<br></span>

      <md-card-actions layout="row" layout-align="center">
        <md-button type="submit" class="md-raised">Sign in</md-button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>
