<md-card>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">Register</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <div layout="column" layout-padding>
      <md-content class="autoscroll">
        <form role="form" ng-submit="auth.register()">
          <md-input-container class="md-block">
            <input type="text" name="name" ng-model="registerName">
            <label>Username</label>
          </md-input-container>
          <md-input-container class="md-block">
            <input type="email" name="email" ng-model="registerEmail">
            <label>Email</label>
          </md-input-container>
          <md-input-container class="md-block">
            <input type="password" name="password" ng-model="registerPassword">
            <label>Password</label>
          </md-input-container>
          <span ng-if="auth.registerError">{{auth.registerError}}<br></span>
          <md-button type="submit" class="md-raised">Sign up</md-button>
          <p class="md-body-1">By registering, you agree to the Porybox <a href="/tos">terms of service</a> and <a href="privacy-policy">privacy policy.</a></p>
        </form>
      </md-content>
    </div>
  </md-card-content>
</md-card>
