<md-card>
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <span>Register</span>
    </div>
  </md-toolbar>
  <md-card-content>
    <div layout="column" layout-padding>
      <md-content class="autoscroll">
        <form role="form" ng-submit="auth.register()">
          <md-input-container class="md-block">
            <input type="text" name="name" ng-model="registerName">
            <label>Username</label>
          </md-input-container>
          <md-input-container class="md-block">
            <input type="email" name="email" ng-model="registerEmail">
            <label>Email</label>
          </md-input-container>
          <md-input-container class="md-block">
            <input type="password" name="password" ng-model="registerPassword">
            <label>Password</label>
          </md-input-container>
          <span ng-if="auth.registerError">{{auth.registerError}}<br></span>

          <md-card-actions layout="row" layout-align="center">
            <md-button type="submit" class="md-raised">Sign up</md-button>
          </md-card-actions>
          <p class="md-body-1" style="text-align: center;">By registering, you agree to the Porybox <a href="/tos">terms of service</a>
            and <a href="privacy-policy">privacy policy.</a></p>
        </form>
      </md-content>
    </div>
  </md-card-content>
</md-card>
