
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--4-col">
    <span>
      Welcome to Porybox. Please Register or login to continue.
    </span>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
<div class="mdl-grid">
  <div class="mdl-layout-spacer"></div>
  <div class="mdl-cell mdl-cell--3-col">
    <login-form></login-form>
  </div>
  <div class="mdl-cell mdl-cell--3-col">
    <registration-form></registration-form>
  </div>
  <div class="mdl-layout-spacer"></div>
</div>
