
<div layout="row" layout-align="center center">
  <div flex="30">
    <span>
      Welcome to Porybox. Please register or login to continue.
    </span>
  </div>
</div>
<div layout="row">
  <div flex>
    <span>
      <% if (typeof errors !== 'undefined' && errors.length > 0) { %>
        <% if (errors[0] === 'Error.Passport.Password.Wrong' || errors[0] === 'Error.Passport.Username.NotFound') { %>
          Wrong username or password
        <% } %>
        <% if (errors[0] === 'Error.Passport.Password.Invalid') { %>
          Password must be at least 8 characters long
        <% } %>
        <% if (errors[0] === 'Error.Passport.User.Exists') { %>
          User already exists
        <% } %>
        <% if (errors[0] === 'Error.Passport.Email.Exists') { %>
          Email address already registered
        <% } %>
        <% console.log(errors) %>
      <% } %>
    </span>
  </div>
</div>
<div layout="row">
  <div flex="25" flex-offset="25">
    <login-form></login-form>
  </div>
  <div flex="25">
    <registration-form></registration-form>
  </div>
</div>
