<md-card>
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
        <span>Change password</span>
    </div>
  </md-toolbar>
  <md-card-content>
    <div layout="column" layout-padding>
      <md-content class="autoscroll">
        <form name="changePassword" method="POST">
          <md-input-container class="md-block">
            <label>Old password</label>
            <input
              ng-model="password.oldPassword"
              type="password"
              name="oldPassword"
              required
              aria-label="Old password"
              ng-change="changePassword.oldPassword.$setValidity('correct', true)"
            >
            <div ng-messages="changePassword.oldPassword.$error">
              <div ng-message="correct">Incorrect password</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>New password</label>
            <input ng-model="password.newPassword1" type="password" name="newPassword1" required minlength="8" maxlength="72" aria-label="New password">
            <div ng-messages="changePassword.newPassword1.$error">
              <div ng-message="minlength">Password must be at least 8 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Verify new password</label>
            <input ng-model="password.newPassword2" type="password" name="newPassword2" required minlength="8" maxlength="72" ng-pattern="{{password.newPassword1}}" aria-label="Verify new password">
            <div ng-messages="changePassword.newPassword2.$error">
              <div ng-message="pattern">Passwords do not match</div>
            </div>
          </md-input-container>

          <p><a href="/#/forgotPassword">Forgot password?</a></p>
          <md-card-actions layout="row" layout-align="start">
            <md-button ng-click="password.changePassword()" type="submit" ng-disabled="changePassword.$invalid">
              Change password
            </md-button>
          </md-card-actions>
        </form>

      </md-content>
    </div>
  </md-card-content>
</md-card>
