<md-card>
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <span>Forgot Password</span>
    </div>
  </md-toolbar>
  <md-card-content>
    <form role="form" name="forgotForm" ng-submit="forgotPassword.sendPasswordRequest()" method="POST">
      <md-input-container class="md-block">
        <input
          type="text"
          name="user"
          required
          ng-model="forgotPassword.resetName"
          ng-init="forgotPassword.resetName = main.user.name"
          aria-label="Username"
          ng-change="forgotForm.user.$setValidity('exists', true)"
        >
        <label>Username</label>
        <div ng-messages="forgotForm.user.$error">
          <div ng-message="exists">That account does not exist</div>
        </div>
      </md-input-container>
      <md-card-actions layout="row" layout-align="center">
        <md-button type="submit" class="md-raised" ng-disabled="forgotForm.$invalid">Email a password reset link</md-button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>

<md-card>
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <span>Forgot Username</span>
    </div>
  </md-toolbar>
  <md-card-content>
    <form role="form" name="usernameForm" ng-submit="forgotPassword.sendUsernameRequest()" method="POST">
      <md-input-container class="md-block">
        <input
          type="text"
          name="user"
          required
          ng-model="forgotPassword.resetEmail"
          ng-init="forgotPassword.resetEmail = main.user.email"
          aria-label="Email"
          ng-change="usernameForm.user.$setValidity('exists', true)"
        >
        <label>Email Address</label>
      </md-input-container>
      <md-card-actions layout="row" layout-align="center">
        <md-button type="submit" class="md-raised" ng-disabled="usernameForm.$invalid">Email username</md-button>
      </md-card-actions>
    </form>
  </md-card-content>
</md-card>
