<md-card ng-init="passwordReset.verifyToken()" ng-show="passwordReset.isValid">
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
        <span>Reset password</span>
    </div>
  </md-toolbar>
  <md-card-content>
    <div layout="column" layout-padding>
      <md-content class="autoscroll">
        <form name="passwordResetForm" method="POST">
          <md-input-container class="md-block">
            <label>New password</label>
            <input ng-model="passwordReset.newPassword1" type="password" name="newPassword1" required minlength="8" maxlength="72" aria-label="New password">
            <div ng-messages="passwordResetForm.newPassword1.$error">
              <div ng-message="minlength">Password must be at least 8 characters long.</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Verify new password</label>
            <input ng-model="passwordReset.newPassword2" type="password" name="newPassword2" required minlength="8" maxlength="72" ng-pattern="{{passwordReset.newPassword1}}" aria-label="Verify new password">
            <div ng-messages="passwordResetForm.newPassword2.$error">
              <div ng-message="pattern">Passwords do not match</div>
            </div>
          </md-input-container>

          <md-card-actions layout="row" layout-align="start">
            <md-button ng-click="passwordReset.resetPassword()" type="submit" ng-disabled="passwordResetForm.$invalid">
              Reset password
            </md-button>
          </md-card-actions>
        </form>

      </md-content>
    </div>
  </md-card-content>
</md-card>

<div ng-if="passwordReset.errorStatusCode === 404">
  <img src="/img/404.png" class="errorimg" alt="404 Not Found" title="404 Not Found" />
  <h1 class="errorname">404 Not Found</h1>
  <h4 class="errortext">
    Token missing/expired. Password reset links expire after 24 hours; click <a href="/#/forgetPassword">here</a> to get another.
  </h4>
</div>
