<md-content layout-padding>

  <div class="md-body-1">
    <h1 class="md-display-2">About Porybox</h1>

    <h2 class="md-headline">What is Porybox?</h2>

    <p>
      Porybox is an online Pokémon viewer. It helps you organize your Pokémon collection online, see advanced
      information that is usually hidden in game, and share links to individual Pokémon or boxes to show off. You can
      also make Pokémon publicly available for download, or download Pokémon that have been made public.
    </p>

    <h2 class="md-headline">Who is behind Porybox?</h2>

    <p>
      Porybox was created by the moderators of <a href="https://www.reddit.com/r/pokemontrades/" target="_blank"
                                                  rel="noreferrer">/r/pokemontrades</a>, a large Pokémon-trading
          community on reddit that focuses on legitimate, legal and uncloned Pokémon.
    </p>

    <h2 class="md-headline">Contributing to Porybox</h2>

    <p>
      Porybox is open source and we welcome contributions to the project. Check out the
      <a href="https://github.com/porygonco/porybox/wiki" target="_blank" rel="noreferrer" class="md-body-2">wiki on GitHub</a> for information on how to participate!
    </p>

    <md-divider></md-divider>
    <h2 class="md-headline">Credits</h2>

    <h3 class="md-title">Porybox</h3>

    <p>
      <b>Project management and site design</b><br>
      TSAR and Raia
    </p>

    <p>
      <b>Coding</b><br>
      not_an_aardvark, YaManicKill, and Raia
    </p>

    <p>
      <b>Logo design</b><br>
      SnowPhoenix for initial design<br>
      Kirzi for sprites<br>
      Jenny for logo art<br>
    </p>

    <p>
      <b>Special thanks to</b><br>
      The <a href="https://www.reddit.com/r/pokemontrades/" target="_blank" rel="noreferrer">/r/pokemontrades</a>
      moderation team for the support<br>
      The beta testers and donators of Porybox<br>
    </p>

    <h3 class=".md-title">Built upon the work of</h3>

    <p>
      <a href="https://projectpokemon.org/wiki/Main_Page" target="_blank" rel="noreferrer">Project Pokémon</a> for the
      save data & pk6 structure<br>
      xfr, Bond697, OmegaDonut, Kaphotics, SciresM for the original generation 6 research<br>
      xfr and Bond697 for creating <a href="https://www.pokecheck.org/" target="_blank" rel="noreferrer">Pokécheck</a>
    </p>

    <p>
      Kaphotics for <a href="https://github.com/kwsch/KeySAV2" target="_blank" rel="noreferrer">KeySAV2</a> & <a
        href="https://github.com/kwsch/PKHeX" target="_blank" rel="noreferrer">PKHeX</a><br>
      Cu3PO42 for his <a href="https://github.com/Cu3PO42/KeySAV2" target="_blank" rel="noreferrer">KeySAV2 fork</a>
    </p>

    <p>
      Sprites from <a href="https://github.com/msikma/pokesprite" target="_blank" rel="noreferrer">PokéSprite</a> by
      dada</br>
      Legalese adapted from <a href="https://github.com/Automattic/legalmattic" target="_blank" rel="noreferrer">Automattic</a>
      and <a href="https://www.reddit.com/help/privacypolicy" target="_blank" rel="noreferrer">reddit</a>
    </p>

  </div>

</md-content>
