<h1>FAQ</h1>

<div>

  <h2>Usage</h2>

  <p><b>How do I register?</b><br>
  [+ add actual instructions as to how to use the site]<br>
  </p>
  
  <p><b>How do I updload Pokémon?</b><br>
  To upload a Pokémon on Porybox, you need:<br>
  <ul>
  <li>A Porybox account</li>
  <li>The pk6 files of the Pokémon you wish to upload</li>
  </ul>
  Please refer to the <a href="/extracting-pk6-files">Extracting pk6 files</a> help page for more information on how to obtain pk6 files.<br>

  [+ add actual instructions as to how to use the site]
  </p>
  
  <p><b>How do I trade a Pokémon to someone?</b><br>
  Porybox does not have a trading interface, but you can use it to facilitate trades negotiated on other platforms.<br>
  <ol>
  <li>Show one of your viewable Pokémon to another person and agree to a trade.</li>
  <li>Complete the trade in-game, or exchange pk6 files through email or some other method.</li>
  <li>Delete the copy of your Pokémon from your account.</li>
  </ol>
  When you trade a Pokémon away, always be sure to delete your copy on Porybox. Otherwise, when the other person uploads its pk6 to Poybox, it will show up as a clone.</p>
  
  <p><b>What do Public, Visible, and Private mean?</b><br>
  <ul>
  <li>Private (default): only you can view the Pokémon's data.</li>
  <li>Viewable: the Pokémon can be viewed (but not downloaded) by other people. Sensitive information is hidden to the public.</li>
  <li>Public: anyone can view or download the Pokémon.</li>
  </ul>
  </p>
  
  <p><b>What do Listed and Unlisted mean?</b><br>
  <ul>
  <li>Unlisted (default): The box is not accessible from your user profile, but can be viewed by anyone with the URL.</li>
  <li>Listed: The box is listed on your user profile, and can be accessed either through that link or by directly visiting the URL.</li>
  </ul>
  </p>
  
  <p><b>How do I close my account?</b><br>
  [+ add actual instructions as to how to use the site]
  </p>
  
  <p><b>Is my data safe?</b><br>
  [+ ask naa/ymk]
  </p>
  
</div>

<div>

  <h2>Legality</h2>

  <p><b>What is considered a clone?</b><br>
  A Pokémon is considered a clone if another Pokémon exists in the Porybox database that shares all the following characteristics:<br>
  <ul>
  <li>OT</li>
  <li>TID (Trainer ID)</li>
  <li>SID (Secret ID)</li>
  <li>PID (Pokémon ID)</li>
  <li>EC (Encryption Constant)</li>
  <li>Evolutionary line</li>
  </ul>
  For static PID events, the IVs of the Pokémon must also match in addition to the criteria listed above.
  </p>

</div>

<div>

  <h2>Community</h2>

  <p><b>Where can I get support?</b><br>
  Please read this FAQ and make sure your issue is not already listed. If the FAQ is insufficient, please create a thread on <a href="https://wwww.reddit.com/r/porybox" target="_blank">the official support subreddit</a> or ask for help in the IRC channel, <a href="#" target="_blank">#porybox</a> on synirc.net.
  </p>

  <p><b>Where can I report bugs?</b><br>
  Opening an issue on <a href="https://github.com/porygonco/porybox/issues" target="_blank">GitHub</a> is the preferred way to report bugs. If you do not have a GitHub account, bugs can also be reported <a href="https://wwww.reddit.com/r/porybox" target="_blank">on reddit</a> or in <a href="#" target="_blank">our IRC channel</a>.
  </p>

  <p><b>I have an idea, where do I submit it?</b><br>
  Ideas and suggestions can be discussed on <a href="https://wwww.reddit.com/r/porybox" target="_blank">the official support subreddit</a>.
  </p>

</div>

<div>

  <h2>The site</h2>

  <p>For information on Porybox and its team, please see the <a href="/about">About Porybox<a> page.</p>

</div>
