<md-content layout-padding>

<h1>Method 1: Battle Videos</h1>

<p>
The Pokémon games allow you to save Battle Videos of the games you played. These Battle Videos are saved on your console’s SD card, and they contain all of the necessary information Porybox needs.
</p>

<h2>Prerequisites</h2>

<p>

You will need the following:

<ul>
<li><a href="https://github.com/Cu3PO42/KeySAV2/releases" target="_blank">Cu3PO42's latest version of KeySAV2</a>.</li>
<li>A person that would be willing to battle you or a second console with a Pokémon game.</li>
<li>The Vs. Player, obtained in Kiloude City after beating the E4 (X/Y) or at the Battle Resort (OR/AS).</li>
<li>Forced saving disabled. Go to your game's options (<a href="http://i.imgur.com/ximd9wu.png" target="_blank">the icon circled in red</a>), scroll down to the bottom and disable forced saves.</li>
<li>An SD card reader. If you have a New Nintendo 3DS and Windows, you can use the <a href="http://www.nintendo.com.au/new-nintendo-3ds/support/microsd-management/" target="_blank">microSD management feature</a> without an SD card reader.</li>
</ul>

</p>

<h2>Extracting the Battle Videos</h2>

<p>
The Battle Videos are stored on the SD card of the consoles. KeySAV2 should automatically load the correct video. If not, the paths are as follows:

<ul>
<li>Pokémon X: \Nintendo 3DS\*\*\extdata\00000000\0000055d\00000000\</li>
<li>Pokémon Y: \Nintendo 3DS\*\*\extdata\00000000\0000055e\00000000\</li>
<li>Pokémon Omega Ruby: \Nintendo 3DS\*\*\extdata\00000000\0011c400\00000000\</li>
<li>Pokémon Alapha Sapphire: \Nintendo 3DS\*\*\extdata\00000000\0011c500\00000000\</li>
</ul>

Keep in mind that Battle Videos might not be sorted chronologically, so check the files' modification dates to make sure you picked the correct one.
</p>

<h2>Breaking the initial encryption</h2>

<p>
You will only need to do the following steps once.<br><br>

Note: up to 100 Battle Videos can be stored on the SD card. Before being able to extract your pk6 files, you will need to break the encryption of at least one Battle Video slot. Battle Videos are always saved to the lowest available slot, and being able to decrypt one slot will not help you break another. KeySAV2 remembers the slots you have unlocked, so either make sure to always use the same Battle Video slot and delete each new Battle Video from your SD card once you have copied it to your PC, or only use slots that you have unlocked before.

<ol>
<li>Be in a Pokémon Center, in front of the PC. Don't move anymore.</li>
<li>Battle your friend in a Singles match and enter only 1 Pokémon from your party.</li>
<li>Forfeit the battle and save the Battle Video.</li>
<li>Turn off the 3DS, check the contents of the SD card, copy the file to a safe place on your computer, add <b>-1</b> to its name.</li>
<li>Delete the Battle Video from the SD card only.</li>
<li>Plug the SD card back in your console.</li>
<li>Battle your friend in a Singles match with 2 Pokémon from your party. The first one doesn't matter, but make sure the second one you enter is the original Pokémon you used for the first Battle Video.</li>
<li>Forfeit the battle and save the Battle Video.</li>
<li>Plug the SD card in your computer, copy the file to a safe place on your computer, add <b>-2</b> to its name.</li>
<li>Delete the Battle Video from the SD card only.</li>
<li>Plug the SD card back in your console.</li>
<li>Open KeySAV2, go to the Options tab, load the two videos.</li>
<li>Click on Break, and save the resulting file in the suggested folder.</li>
</ol>

</p>

<h2>Extracting pk6 files</h2>

<p>
You can now dump as many Pokémon as you wish from Battle Videos, as long as the Battle Videos are saved in the same decrypted slot.

<ol>
<li>Put up to 6 Pokémon you want to extract in your party and battle your friend or your second console <b>in a “no restrictions” format battle</b> (tap on a person, choose Battle, then go to Battle Rules and choose No restrictions).</li> 
<li>Forfeit the battle and save the Battle Video.</li>
<li>Turn off the console, and access the SD card on your computer. KeySAV2 should load the battle video automatically. If not, copy the file to your computer and open it from KeySAV2’s BV tab.</li>
<li>On KeySAV2, go to the Options tab and make sure your export style is set to To .pk6 File.</li>
<li>Click “Go” on the BV tab to extract your Pokémon’s data.</li>
<li>Delete the Battle Video from the SD card only.</li>
<li>Plug the SD card back in the console.</li>
</ol>

</p>

<h2>Upload the pk6 files on Porybox</h2>

<p>
You can now upload the pk6 files in the box of your choice.
</p>

</md-content>