<md-content layout-padding>

  <div class="md-body-1">
    <h1 class="md-display-2">Privacy Policy</h1>

    <h2 class="md-headline">Website Visitors</h2>
    <p>
      Porybox.com collects non-personally-identifying information of the sort that web browsers and servers typically make
      available, such as the browser type, language preference, referring site, and the date and time of each visitor
      request. Porybox.com’s purpose in collecting non-personally identifying information is to better understand how
      Porybox.com's visitors use its website. From time to time, Porybox.com may release non-personally-identifying
      information in the aggregate, e.g., by publishing a report on trends in the usage of its website.
      Porybox.com also collects potentially personally-identifying information like Internet Protocol (IP) addresses for
      administrative uses. Porybox.com only discloses IP addresses under the same circumstances that it uses and discloses
      personally-identifying information as described below.
    </p>

    <h2 class="md-headline">Gathering of Personally-Identifying Information</h2>

    <p>
      Certain visitors to the website choose to interact with Porybox.com in ways that require Porybox.com to gather
      personally-identifying information. The amount and type of information that Porybox.com gathers depends on the
      nature of the interaction. For example, we ask visitors who sign up for an account at Porybox.com to provide a
      username and email address. Porybox.com collects such information only insofar as is necessary or appropriate to
      fulfill the purpose of the visitor’s interaction with the service. Porybox.com does not disclose
      personally-identifying information other than as described below. Visitors can always refuse to supply
      personally-identifying information, with the caveat that it may prevent them from engaging in certain
      website-related activities.
    </p>

    <h2 class="md-headline">Aggregated Statistics</h2>

    <p>
      Porybox.com may collect statistics about the behavior of visitors to its websites. For instance, Porybox.com may
      monitor the most popular pages on the website or use statistics to help identify spam. Porybox.com may display this
      information publicly or provide it to others. However, Porybox.com does not disclose personally-identifying
      information other than as described below.
    </p>

    <h2 class="md-headline">Protection of Certain Personally-Identifying Information</h2>

    <p>
      Porybox.com will not disclose, rent or sell potentially personally-identifying and personally-identifying
      information to anyone. Other than to its administrators, Porybox.com discloses potentially personally-identifying
      and personally-identifying information only in response to a subpoena, court order or other governmental request, or
      when Porybox.com believes in good faith that disclosure is reasonably necessary to protect the property or rights of
      Porybox.com, third parties or the public at large.
    </p>

    <h2 class="md-headline">Cookies</h2>

    <p>
      A cookie is a string of information that a website stores on a visitor’s computer, and that the visitor’s browser
      provides to the website each time the visitor returns. Porybox.com uses cookies to help its administrators identify
      and track visitors, their usage of the Porybox.com website, and their website access preferences. Porybox.com
      visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies
      before using Porybox.com's website, with the drawback that certain features of the website (such as, but not limited
      to account login and file uploading) may not function properly without the aid of cookies.
    </p>

    <h2 class="md-headline">Privacy Policy Changes</h2>

    <p>
      Although most changes are likely to be minor, Porybox.com may change its Privacy Policy from time to time, and in
      Porybox.com's sole discretion. Porybox.com encourages visitors to frequently check this page for any changes to its
      Privacy Policy. Your continued use of this site after any change in this Privacy Policy will constitute your
      acceptance of such change.
    </p>

    <md-divider></md-divider>
    <p class="md-caption">Adapted from <a href="https://automattic.com/privacy/" target="_blank" rel="noreferrer">Automattic</a>.</p>
  </div>

</md-content>
