<md-content layout-padding>

  <div class="md-body-1">
    <h1 class="md-display-2">Terms of Service</h1>

    <h2 class="md-headline">Preamble</h2>

    <p>
      The following terms and conditions govern all use of the Porybox website and all content, services, and products
      available at or through the website. Our Services are offered subject to your acceptance without modification of all
      of the terms and conditions contained herein and all other operating rules, policies (including, without limitation,
      Porybox’s Privacy Policy) and procedures that may be published from time to time by the administrators
      (collectively, the “Agreement”). You agree that we may automatically upgrade our Services, and these terms will
      apply to any upgrades.
    </p>

    <p>
      Please read this Agreement carefully before accessing or using our Services. By accessing or using any part of our
      services, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the
      terms and conditions of this agreement, then you may not access or use any of our services. If these terms and
      conditions are considered an offer by Porybox, acceptance is expressly limited to these terms.
    </p>

    <p>
      Our Services are not directed to children younger than 13, and access and use of our Services is only offered to
      users 13 years of age or older. If you are under 13 years old, please do not register to use our Services. Any
      person who registers as a user or provides their personal information to our Services represents that they are 13
      years of age or older.
    </p>

    <p>
      Use of our Services requires a Porybox.com account. You agree to provide us with complete and accurate information
      when you register for an account. You will be solely responsible and liable for any activity that occurs under your
      username. You are responsible for keeping your password secure.

    <p>

    <h2 class="md-headline">Your Porybox.com Account</h2>

    <p>
      You are responsible for maintaining the security of your account, and you are fully responsible for all activities
      that occur under the account and any other actions taken in connection with it. You must immediately notify the
      administrators of any unauthorized uses of your account, or any other breaches of security. Porybox.com will not be
      liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or
      omissions.
    </p>

    <h2 class="md-headline">Responsibility of Contributors</h2>

    <p>
      By submitting content to Porybox.com, you are entirely responsible for the content of, and any harm resulting from,
      that Content or your conduct. That is the case regardless of what form the Content takes. You also give other
      Porybox.com users permission to share your Content on other websites provided that you made it available publicly
      beforehand. If you delete Content, the administrators will use reasonable efforts to remove it from Porybox.com, but
      you acknowledge that caching or references to the Content may not be made immediately unavailable. Without limiting
      any of those representations or warranties, Porybox.com has the right (though not the obligation) to, in the
      administrator's sole discretion, (i) refuse or remove any content that, in Porybox.com's reasonable opinion,
      violates any policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of
      Porybox.com to any individual or entity for any reason.
    </p>

    <h2 class="md-headline">Changes</h2>

    <p>
      We are constantly updating our Services, and that means sometimes we have to change the legal terms under which our
      Services are offered. If we make changes that are material, we will let you know by posting on one of our
      communication means before the changes take effect. The notice will designate a reasonable period of time after
      which the new terms will take effect. If you disagree with our changes, then you should stop using our Services
      within the designated notice period. Your continued use of our Services will be subject to the new terms. However,
      any dispute that arose before the changes shall be governed by the Terms (including the binding individual
      arbitration clause) that were in place when the dispute arose.
    </p>

    <h2 class="md-headline">Termination</h2>

    <p>
      Porybox.com may terminate your access to all or any part of our Services at any time, with or without cause, with or
      without notice, effective immediately.
    </p>

    <h2 class="md-headline">Disclaimer of Warranties</h2>

    <p>
      Our Services are provided “as is.” Porybox.com hereby disclaims all warranties of any kind, express or implied,
      including, without limitation, the warranties of merchantability, fitness for a particular purpose and
      non-infringement. Porybox.com does not make any warranty that our Services will be error free or that access thereto
      will be continuous or uninterrupted.
    </p>

    <h2 class="md-headline">Limitation of Liability</h2>

    <p>
      Porybox.com will not be liable for any special, consequential, indirect, incidental, punitive, reliance, or
      exemplary damages, whether in tort, contract, or any other legal theory, arising out of or in any way connected with
      this agreement or your use of or attempt to use Porybox.com, including (but not limited to) damages for loss of
      profits, goodwill, use, or data. This limitation on liability shall not be affected even if we have been advised of
      the possibility of such damages.
    </p>
    <md-divider></md-divider>
    <p class="md-caption">Adapted from <a href="https://en.wordpress.com/tos/" target="_blank" rel="noreferrer">WordPress</a> and <a
        href="https://www.reddit.com/help/useragreement" target="_blank" rel="noreferrer">reddit</a>.</p>
  </div>

</md-content>
