<!doctype html>
<html>
<head>
<title>404 Not Found</title>
<link rel="stylesheet" type="text/css" href="/bundle.css" />
</head>

<body>

<img src="/img/404.png" class="errorimg" alt="404 Not Found" title="404 Not Found" />

<h1 class="errorname">404 Not Found</h1>

<h4 class="errortext">What you're looking for isn't here.</h4>

</body>
</html>
