<!doctype html>
<html>
<head>
<title>500 Internal Server Error</title>
<link rel="stylesheet" type="text/css" href="/bundle.css" />
</head>

<body>

<img src="/img/500.png" class="errorimg" alt="500 Internal Server Error" title="500 Internal Server Error" />

<h1 class="errorname">500 Internal Server Error</h1>

<h4 class="errortext">Something went wrong on our end.</h4>

</body>
</html>
