<div ng-show="pokemon.data.id">
  <md-toolbar class="md-hue-1">
    <div class="md-toolbar-tools">
      <div ng-if="pokemon.data.box" style="margin-left:-15px;">
        <a ng-href="/#/box/{{pokemon.data.box}}">
          <md-button ng-show="pokemon.data.owner === main.user.name || main.user.isAdmin" class="md-icon-button" aria-label="Back to box">
            <md-tooltip md-direction="right">Back to box</md-tooltip>
            <i class="material-icons">arrow_back</i>
          </md-button>
        </a>
      </div>
      <div class="icon-container">
        <span>
          <span ng-if="pokemon.data.isEgg" class="spr-box spr-box-egg"  style="top: -8px;"></span>
          <span class="spr-box {{pokemon.spriteClass}}" ng-class="{'pokemon-egg': pokemon.data.isEgg}" style="top: -8px;"></span>
          <h1 class="summary-toolbar">{{pokemon.parsedNickname}}</h1>
        </span>
      </div>
      <span flex></span>
      <a ng-href="/pokemon/{{pokemon.id}}/pk6">
        <md-button class="md-icon-button" aria-label="Download .pk6 file" ng-show="pokemon.data.owner === main.user.name || main.user.isAdmin || pokemon.data.visibility === 'public'">
          <md-tooltip md-direction="left">Download .pk6 file</md-tooltip>
          <i class="material-icons">file_download</i>
        </md-button>
      </a>
      <md-menu md-position-mode="target-right target" md-offset="0 50">
        <md-button class="md-icon-button" aria-label="Pokémon settings" ng-click="$mdOpenMenu($event)"
          ng-show="pokemon.data.owner === main.user.name || main.user.isAdmin">
          <md-tooltip md-direction="left">{{pokemon.parsedNickname}}'s settings</md-tooltip>
          <i class="material-icons">settings</i>
        </md-button>
        <md-menu-content width="4">
          <md-menu-item>
            <md-button ng-click="pokemon.edit()" >
              <div layout="row">
                <p flex>Edit</p>
              </div>
            </md-button>
          </md-menu-item>
          <md-menu-item ng-if="!pokemon.isDeleted">
            <md-button aria-label="Delete Pokémon" ng-click="pokemon.delete()">
              <div layout="row">
                <p flex>Delete {{pokemon.parsedNickname}}</p>
              </div>
            </md-button>
          </md-menu-item>
        </md-menu-content>
      </md-menu>
      <md-button class="md-icon-button" aria-label="Upload info" ng-click="pokemon.uploadInfo()">
        <md-tooltip md-direction="left">Upload info</md-tooltip>
        <i class="material-icons">info</i>
      </md-button>
    </div>
  </md-toolbar>

  <md-tabs md-border-bottom md-swipe-content ng-init="pokemon.fetch()" md-dynamic-height>
    <md-tab label="Main Summary">
      <md-tab-body>
        <div layout="row" layout-xs="column" layout-wrap>
          <div layout-gt-xs="column">
            <md-card class="summary" style="height: 222px;" ng-show="pokemon.hasFullData">
              <md-card-content>
                <div layout="row" layout-align="none center">
                <img class="pokeball"
                     ng-if="pokemon.ballNameUrl"
                     ng-src="img/icons/items/{{pokemon.ballNameUrl}}.png"
                     title="{{pokemon.data.ballName}}" /><span class="card-headline" style="margin: 0;">{{pokemon.parsedNickname}}</span>
                  <span flex></span>
                  <span class="language-tag" layout-align="end" title="Language">{{pokemon.data.language}}</span>
                </div>
                <div class="pokemon-container" layout-align="center">
                  <img class="pokemon-bg" ng-src="/img/large/ballbg.png" />
                  <img ng-src="/img/large/{{pokemon.spriteUrl}}.png" />
                </div>
                <div layout="row" layout-align="none center">
                  <div flex title="Species">{{pokemon.speciesWithForme}}
                    <span class="gender-male" ng-if="pokemon.data.gender == 'M'">&#9794;</span>
                    <span class="gender-female" ng-if="pokemon.data.gender == 'F'">&#9792;</span>
                    <span ng-if="pokemon.data.isEgg"> (Egg)</span></div>
                </div>
                <div layout="row" layout-align="none center">
                  <div flex title="Level">Level {{pokemon.data.level}}</div>
                </div>
                <div flex ng-if="!pokemon.data.increasedStat" title="Neutral nature">{{pokemon.data.natureName}}</div>
                <div flex ng-if="pokemon.data.increasedStat" ng-attr-title="+{{pokemon.data.increasedStat}}, -{{pokemon.data.decreasedStat}}">{{pokemon.data.natureName}}</div>
                <div flex ng-class="{'pokemon-ha': pokemon.hasHA}" ng-attr-title="{{pokemon.hasHA ? 'Ability (HA)' : 'Ability'}}">{{pokemon.data.abilityName}}</div>
                <div flex><span ng-repeat="iv in pokemon.ivs track by $index"><span ng-class="{'increased-stat': $index === pokemon.natureStats[0],
                            'decreased-stat': $index === pokemon.natureStats[1]}">{{iv}}</span>{{$last ? '' : '.'}}</span></div>
                <div flex>
                  <img ng-if="pokemon.data.heldItemName" class="held-item"
                       ng-src="/img/icons/items/{{pokemon.heldItemUrl}}.png"
                       title="{{pokemon.data.heldItemName}}" />
                  <span>{{pokemon.data.heldItemName || 'No item'}}</span>
                </div>
                <div layout="row" layout-align="start center">
                  <span>
                    <md-icon md-svg-icon="/img/icons/circle.svg" class="box-marking" ng-class="{'marked': pokemon.data.hasCircleMarking}"></md-icon>
                    <md-icon md-svg-icon="/img/icons/triangle.svg" class="box-marking" ng-class="{'marked': pokemon.data.hasTriangleMarking}"></md-icon>
                    <md-icon md-svg-icon="/img/icons/square.svg" class="box-marking" ng-class="{'marked': pokemon.data.hasSquareMarking}" style="width:8px;"></md-icon>
                    <md-icon md-svg-icon="/img/icons/heart.svg" class="box-marking" ng-class="{'marked': pokemon.data.hasHeartMarking}"></md-icon>
                    <md-icon md-svg-icon="/img/icons/star.svg" class="box-marking" ng-class="{'marked': pokemon.data.hasStarMarking}" style="width:11px;margin-left:-1px;margin-top:-2px;"></md-icon>
                    <md-icon md-svg-icon="/img/icons/diamond.svg" class="box-marking" ng-class="{'marked': pokemon.data.hasDiamondMarking}" style="margin-left:-1px;margin-top:-1px;"></md-icon>
                  </span>
                  <span style="margin-left:10px;">
                    <md-icon ng-if="pokemon.data.isShiny" md-svg-icon="/img/icons/star.svg" aria-label="shiny" class="pokemon-shiny" title="Shiny"></md-icon>
                    <md-icon ng-if="pokemon.isKB" md-svg-icon="/img/icons/kb.svg" aria-label="pentagon" class="pokemon-kb" title="Originated from Gen 6"></md-icon>
                    <span ng-if="pokemon.data.pokerusStrain > 0 && pokemon.data.pokerusDuration > 0" aria-title="Infected with Pokérus" class="pokerus" style="font-size:10px;">PKRS</span>
                    <span ng-if="pokemon.data.pokerusStrain > 0 && pokemon.data.pokerusDuration === 0" aria-title="Cured Pokérus">
                      <md-icon md-svg-icon="/img/icons/pkrs_cured.svg" style="width: 9px;"></md-icon>
                    </span>
                  </span>
                  <span flex></span>
                  <span>
                    <i ng-if="pokemon.data.visibility === 'private'" class="material-icons visibility" title="Private">lock</i>
                    <i ng-if="pokemon.data.visibility === 'viewable'" class="material-icons visibility" title="Viewable">visibility</i>
                    <i ng-if="pokemon.data.visibility === 'public'" class="material-icons visibility" title="Public">public</i>
                  </span>
                </div>
              </md-card-content>
            </md-card>

            <md-card ng-if="pokemon.data.isEgg" class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Egg Info</span></md-card-header>
              <md-card-content>
                <div flex><strong>ESV</strong> {{pokemon.paddedEsv}}</div>
                <div flex><strong>Hatch cycles remaining</strong> {{pokemon.data.otFriendship}}</div>
              </md-card-content>
            </md-card>

            <md-card class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Level Info</span></md-card-header>
              <md-card-content>
                <div flex>Level {{pokemon.data.level}}</div>
                <div flex>{{pokemon.data.exp}} experience</div>
                <div class="bar-container">
                  <div class="progress-bar exp-gained" ng-attr-style="width: calc(({{pokemon.data.expFromPreviousLevel}} / {{pokemon.totalExpToNextLevel}}) * 100%);"></div>
                  <div ng-if="pokemon.data.level < 100" class="progress-bar-label">{{pokemon.data.expFromPreviousLevel}} / {{pokemon.totalExpToNextLevel}} exp to next level</div>
                  <div ng-if="pokemon.data.level === 100" class="progress-bar-label">No next level</div>
                </div>
              </md-card-content>
            </md-card>

            <md-card class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Original Trainer Info</span></md-card-header>
              <md-card-content>
                <div flex>{{pokemon.parsedOt}}
                  <span class="gender-male" ng-if="pokemon.data.otGender == 'M'">&#9794;</span><span class="gender-female" ng-if="pokemon.data.otGender == 'F'">&#9792;</span>
                </div>
                <div layout="row" layout-align="center">
                  <span flex title="Trainer ID"><strong>TID</strong> {{pokemon.paddedTid}}</span>
                  <span flex ng-if="pokemon.isKB" title="Trainer Shiny Value"><strong>TSV</strong> {{pokemon.paddedTsv}}</span>
                </div>
                <div title="Secret ID"><strong>SID</strong> {{pokemon.paddedSid}}</div>
              </md-card-content>
            </md-card>
          </div>

          <div layout-gt-xs="column">
            <md-card class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Stats</span></md-card-header>
              <md-card-content>
                <div layout="row" style="font-weight:bold;">
                  <span flex>Stat</span>
                  <span flex>Base</span>
                  <span flex>IVs</span>
                  <span flex>EVs</span>
                  <span flex>Total</span>
                </div>
                <div ng-repeat="(statName, statData) in pokemon.stats track by $index" layout="row">
                  <span flex ng-attr-title="{{statData.fullName}}" ng-class="{'increased-stat': $index === pokemon.natureStats[0],
                            'decreased-stat': $index === pokemon.natureStats[1]}">{{statName}}</span>
                  <span flex>{{statData.base}}</span>
                  <span flex>{{statData.iv}}</span>
                  <span flex>{{statData.ev}}</span>
                  <span flex>{{statData.total}}</span>
                </div>

              </md-card-content>
            </md-card>

            <md-card class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Moves</span></md-card-header>
              <md-card-content>
                <div layout="row" style="font-weight:bold;">
                  <span flex="35">Move</span>
                  <span flex="25">Type</span>
                  <span flex>Power</span>
                  <span flex="10">PP</span>
                  <span flex="10">PP+</span>
                </div>
                <div ng-repeat="move in pokemon.moves track by $index" layout="row">
                  <span flex="35">{{move.moveName || '-'}}</span>
                  <span flex="25" class="type" ng-class="'type-' + move.moveType">{{move.moveType || '-'}}</span>
                  <span flex>{{move.power || '-'}}</span>
                  <span flex="10">{{move.Pp || '-'}}</span>
                  <span flex="10">{{move.Ppu || '-'}}</span>
                </div>
                <md-divider></md-divider>
                <div>
                  <strong>Relearnable</strong>
                  <div layout="row" layout-align="center start"><div flex="noshrink" ng-repeat="move in pokemon.eggMoves track by $index">{{move || '-'}}</span></div></div>
                </div>
              </md-card-content>
            </md-card>
          </div>

          <div layout-gt-xs="column">
            <md-card class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Encounter Info</span></md-card-header>
              <md-card-content>
                <div>
                  <strong>Game of Origin</strong>
                  <span ng-class="pokemon.gameLabel">{{pokemon.data.otGameName}}</span>
                </div>
                <div ng-if="pokemon.isFromGen4">
                  <strong>Encounter Type</strong> {{pokemon.data.encounterTypeName}}
                </div>
                <div ng-if="pokemon.data.isFatefulEncounter">Fateful Encounter</div>
                <div ng-if="pokemon.data.eggLocationId == 0">
                  Met at <span>{{pokemon.data.metLocationName}}</span>
                </div>
                <div ng-if="!pokemon.data.isEgg">
                  Met at level {{pokemon.data.levelMet}} on {{pokemon.displayMetDate}}
                </div>
                <div ng-if="pokemon.data.eggLocationId != 0">
                  <div>Egg received from <span>{{pokemon.data.eggLocationName}} on {{pokemon.displayEggDate}}</span></div>
                  <div ng-if="!pokemon.data.isEgg">Hatched at <span>{{pokemon.data.metLocationName}}</span></div>
                </div>
              </md-card-content>
            </md-card>

            <md-card class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Region Info</span></md-card-header>
              <md-card-content>
                <div><strong>Language</strong> <span>{{pokemon.data.language}}</span></div>
                <div><strong>Country</strong> <span>{{pokemon.data.countryName}}</span></div>
                <div><strong>Subregion</strong> <span>{{pokemon.data.regionName}}</span></div>
                <div><strong>3DS Region</strong> <span>{{pokemon.data.consoleRegion}}</span></div>
              </md-card-content>
            </md-card>
          </div>
        </div>
      </md-tab-body>
    </md-tab>
    <md-tab label="Other Info">
      <md-tab-body>
        <div layout="row" layout-xs="column" layout-wrap>
          <div layout-gt-xs="column">

            <md-card class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Contest Info</span></md-card-header>
              <md-card-content>
                <div layout="row" ng-repeat="(statName, statValue) in pokemon.contestStats" >
                  <span flex="20" style="text-transform:capitalize;">
                    {{statName}}
                  </span>
                  <span flex>
                    <div class="bar-container">
                      <div class="progress-bar {{statName}}" ng-attr-style="width: calc(({{statValue}} / 255) * 100%);"></div>
                      <div class="progress-bar-label">{{statValue}}/255</div>
                    </div>
                  </span>
                </div>

              </md-card-content>
            </md-card>

            <md-card class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Ribbon Info</span></md-card-header>
              <md-card-content>
                <div ng-repeat="ribbon in pokemon.data.ribbons">{{ribbon}}</div>
                <div ng-if="pokemon.data.ribbons.length === 0">No ribbons</div>
              </md-card-content>
            </md-card>
          </div>

          <div layout-gt-xs="column">
          <md-card class="summary" ng-show="pokemon.hasFullData">
            <md-card-header><span class="card-headline">Memories</span></md-card-header>
            <md-card-content>
              <md-tabs md-stretch-tabs="always">
                <md-tab label="OT">
                  <div class="handler">
                    <div><strong>OT</strong> {{pokemon.data.ot}}
                      <span class="gender-male" ng-if="pokemon.data.otGender == 'M'">&#9794;</span>
                      <span class="gender-female" ng-if="pokemon.data.otGender == 'F'">&#9792;</span>
                      <span ng-if="pokemon.data.currentHandlerIsOt">(current handler)</span>
                    </div>
                    <div><strong>Friendship</strong> {{pokemon.data.otFriendship}}</div>
                    <div><strong>Affection</strong> {{pokemon.data.otAffection}}</div>
                  </div>
                  <md-divider></md-divider>
                  <div>{{pokemon.data.otMemory}}</div>
                </md-tab>

                <md-tab label="Non-OT">
                  <div class="handler">
                    <div>
                      <strong>Last non-OT handler</strong> {{pokemon.parsedNotOt}}
                      <span ng-if="pokemon.data.notOt === ''" style="font-style: italic">Never left OT</span>
                      <span class="gender-male" ng-if="pokemon.data.notOtGender == 'M'">&#9794;</span>
                      <span class="gender-female" ng-if="pokemon.data.notOtGender == 'F'">&#9792;</span>
                      <span ng-if="!pokemon.data.currentHandlerIsOt">(current handler)</span>
                    </div>
                    <div><strong>Friendship</strong> {{pokemon.data.notOtFriendship}}</div>
                    <div><strong>Affection</strong> {{pokemon.data.notOtAffection}}</div>
                  </div>
                  <md-divider></md-divider>
                  <div>{{pokemon.data.notOtMemory}}</div>
                </md-tab>
                <md-tab label="Regions">
                  <div style="padding-top: 10px; font-size: 14px; font-weight:bold;">Physical region history</div>
                  <div ng-repeat="place in pokemon.places track by $index" layout="row">
                    <span flex="25"><strong>Location {{$index+1}}</strong></span>
                    <span flex>{{place.country || '-'}} <span ng-if="place.country">({{place.region || '-'}})</span></span>
                  </div>
                </md-tab>
              </md-tabs>
            </md-card-content>
          </md-card>

          <md-card class="summary" ng-show="pokemon.hasFullData">
            <md-card-header><span class="card-headline">Amie Info</span></md-card-header>
            <md-card-content>
              <div><strong>Fullness</strong> {{pokemon.data.fullness}}</div>
              <div><strong>Enjoyment</strong> {{pokemon.data.enjoyment}}</div>
            </md-card-content>
          </md-card>

          <md-card class="summary" ng-show="pokemon.hasFullData">
            <md-card-header><span class="card-headline">Pokérus Info</span></md-card-header>
            <md-card-content>
              <div ng-if="pokemon.data.pokerusStrain > 0 && pokemon.data.pokerusDuration > 0">
                <div class="pokerus"><strong>Infected with Pokérus</strong></div>
                <div><strong>Strain</strong> {{pokemon.data.pokerusStrain}}</div>
                <div><strong>Days remaining</strong> {{pokemon.data.pokerusDuration}}</div>
              </div>
              <div ng-if="pokemon.data.pokerusStrain > 0 && pokemon.data.pokerusDuration === 0">
                <div class="pokerus"><md-icon md-svg-icon="/img/icons/pkrs_cured.svg" style="width: 9px;"></md-icon> <strong>Cured Pokérus</strong></div>
                <div><strong>Strain</strong> {{pokemon.data.pokerusStrain}}</div>
              </div>
              <div ng-if="pokemon.data.pokerusStrain === 0 && pokemon.data.pokerusDuration === 0">
                <div>This Pokémon has never had Pokérus.</div>
              </div>
            </md-card-content>
          </md-card>
          </div>

          <div layout-gt-xs="column">
            <md-card class="summary" ng-show="pokemon.hasFullData">
              <md-card-header><span class="card-headline">Super Training</span></md-card-header>
              <md-card-content>
                <div>
                  <strong>Secret Training enabled? </strong>
                  <span ng-if="pokemon.data.canDoSecretSuperTraining">Yes</span>
                  <span ng-if="!pokemon.data.canDoSecretSuperTraining">No</span>
                </div>
                <div ng-if="pokemon.data.medals.length > 0"><strong>Stages cleared</strong></div>
                <div ng-repeat="medal in pokemon.data.medals">{{medal}}</div>
                <div ng-if="pokemon.data.medals.length === 0">No stages cleared</div>
              </md-card-content>
            </md-card>

            <md-card class="summary" ng-show="pokemon.hasFullData" ng-if="pokemon.data.visibility === 'public' || pokemon.data.owner === main.user.name || main.user.isAdmin">
              <md-card-header><span class="card-headline">Hidden data</span></md-card-header>
              <md-card-content>
                <div>
                  <div><strong>PID</strong> {{pokemon.data.pid.toString(16).toUpperCase().padStart(8, '0')}}</div>
                  <div><strong>Encryption constant</strong> {{pokemon.data.encryptionConstant.toString(16).toUpperCase().padStart(8, '0')}}</div>
                  <div ng-if="pokemon.data.visibility !=='public'" style="font-style: italic">Only visible to you unless Pokémon is public.</div>
                </div>
              </md-card-content>
            </md-card>
          </div>
        </div>

      </md-tab-body>

    </md-tab>

    <md-tab label="Analysis">
      <md-toolbar class="md-warn"><div class="md-toolbar-tools"><h3>Legality analysis coming soon!</h3></div></md-toolbar>
      <md-card class="summary" ng-show="pokemon.hasFullData">
        <md-card-header><span class="card-headline">Porybox clone status</span></md-card-header>
        <md-card-content>
          <div><strong>Unique in Porybox database?</strong>
            <span ng-if="pokemon.data.isUnique">Yes</span>
            <span ng-if="!pokemon.data.isUnique">No</span>
          </div>
        </md-card-content>
      </md-card>
    </md-tab>

  </md-tabs>
</div>
<div ng-if="pokemon.errorStatusCode" ng-include="'/errors/' + pokemon.errorStatusCode + '.html'"></div>
