<md-card>
  <a ng-href="#/pokemon/{{pokemon.id}}" class="card-link">
    <md-card-header>
      <md-card-avatar>
        <img ng-src="https://pokeapi.co/media/sprites/pokemon/{{pokemon.iconUrl}}.png" />
      </md-card-avatar>
      <span class="md-headline">{{pokemon.data.speciesName}}</span>
    </md-card-header>
    <md-card-content layout="column">
      <div layout="row" layout-align="none center">
        <img class="pokeball"
          ng-if="pokemon.ballNameUrl"
          ng-src="https://pokeapi.co/media/sprites/items/{{pokemon.ballNameUrl}}.png"
          title="{{pokemon.ballName}}" />
        <img class="helditem"
          ng-if="pokemon.heldItemUrl"
          ng-src="https://pokeapi.co/media/sprites/items/{{pokemon.heldItemUrl}}.png"
          title="{{pokemon.data.heldItemName}}" />
        <span class="pokemonShiny" flex ng-if="pokemon.isShiny">&#x2605;</span>
        <span class="pokemonKB" flex ng-if="pokemon.isKB">&#x2B1F;</span>


        <span flex></span>
        <span flex>{{pokemon.data.language}}</span>
      </div>
      <div flex>Level {{pokemon.data.level}}</div>
      <div flex>{{pokemon.data.natureName}}</div>
      <div flex>{{pokemon.data.abilityName}}</div>
      <div flex>{{pokemon.data.ot}}/{{pokemon.paddedTid}}</div>
      <div flex>{{pokemon.ivs}}</div>
    </md-card-content>
  </a>
</md-card>
