<md-dialog aria-label="Edit Pokémon" ng-cloak>
  <form name="editPokemon">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Edit Pokémon Settings</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="dialog.cancel()">
          <i class="material-icons">close</i>
        </md-button>
      </div>
    </md-toolbar>
    <md-dialog-content>
      <div class="md-dialog-content" layout="column">
          <md-input-container class="md-block">
              <label>Visibility</label>
              <md-select ng-model="dialog.visibility" name="visibility">
                <md-option ng-value="visibility" ng-selected="dialog.visibility === visibility"
                  ng-repeat="visibility in dialog.visibilities">{{ visibility }}</md-option>
              </md-select>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Public Notes</label>
            <textarea ng-model="dialog.publicNotes" rows="5" maxlength="2000"></textarea>
          </md-input-container>

          <md-input-container class="md-block">
            <label>Private Notes</label>
            <textarea ng-model="dialog.privateNotes" rows="5" maxlength="2000"></textarea>
          </md-input-container>


      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="dialog.cancel()">
       Cancel
      </md-button>
      <md-button ng-click="dialog.answer()" ng-disabled="!dialog.canAdd()" type="submit">
        Save
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
