<!-- add link to owner's profile -->
<md-dialog aria-label="Upload Info" ng-cloak>
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Upload info</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="dialog.cancel()">
        <i class="material-icons">close</i>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content class="md-dialog-content md-body-1">
    <div style="font-weight: bold;">Owner</div>
    <div><a class="md-body-1" href="/#/user/{{dialog.data.owner}}">{{dialog.data.owner}}</a></div>
    <div ng-if="dialog.data.publicNotes">
      <br />
      <strong>Public Notes</strong>
      <div>{{dialog.data.publicNotes}}</div>
    </div>
    <div ng-if="dialog.data.privateNotes">
      <br />
      <strong>Private Notes</strong>
      <div>{{dialog.data.privateNotes}}</div>
    </div>
  </md-dialog-content>
</md-dialog>
