{
  'globals': {
    '_': true,
    'passport': true,
    'Passport': true,
    'User': true,
    'Box': true,
    'Pokemon': true,
    'PokemonHandler': true,
    'Constants': true,
    'UserPreferences': true,
    'PokemonNote': true,
    'CatchAsyncErrors': true,
    'Validation': true
  }
}
